<section class="content business_page">
	<div class="subsection">
		<div class="container page_wrap service">
			<div class="row">
				<div class="service">
					<div class="service_description">
						<div class="col-md-12 col-sm-12">
							<h2>Продвижение Сайта</h2>
						</div>
						<div class="col-md-12 col-sm-12 main_text">
							<p>Не стоит забывать и о качестве самого ресурса, ведь оно играет особую роль в самом процессе
								продвижения. Да бы сайт не
								стал мертвым капиталом, им нужно заниматься. Именно качество вашего ресурса будет влиять на
								скорость и стабильность
								притока клиента, ну и как следствие его удержание. Совсем плохой ресурс продвигать не имеет
								смысла. Он не сможет продать
								товар, люди будут уходить с него, или вообще посещаемость будет нулевая. В общем продвижение
								сайта можно описать как
								работу по улучшению его технической, визуальной и маркетинговой составляющей, с целью улучшения
								позиций в поисковой
								выдаче, посещаемости и повышения продаж.   
							</p>
							<p>Раскрутить сайт в Сети можно множеством способов.
							Например, более популярные и
							масштабные это:</p>
							<ul>
								<li>SEO оптимизация - это долгий процесс, целью которого является естественное попадание Вашего
								сайта в топ выдачи.
								Фактически это наполнение Вашего ресурса уникальным смыслом. Сео-оптимизация превращает обычный
								ресурс в сайт для людей,
								который способен помочь клиенту решить его задачу быстро и качественно. Правильно составленный и
								оптимизированный
								единожды контент Вашего ресурса способен тысячи раз приводить к вам клиентов уже без всяких
								вложений.</li>
								<li>Контекстная реклама - это быстрый и простой способ занять лидирующие позиции в выдаче, но данный
								способ продвижения
								требует постоянного финансирования. И чем запрос популярнее, тем больших денежных вложений
								необходимо. Этот способ хорош
								если Ваш ресурс хорошего качества. И контекстка приведет клиента по адресу. В случае если запрос
								не отвечает содержанию,
								то клиент все равно уйдет. В этом случае контекстная реклама может даже навредить репутации
								компании.</li>
							</ul>
						</div>
						<div class="col-md-4 col-sm-12 service_img">
							<img src="/compiled/img/gif/website.gif">
						</div>
						<div class="col-md-8 col-sm-12 main_text">
							<p>Итак, основные причины, по которым необходимо продвижение сайта:
							</p>
							<ul>
								<li>Охвата аудитории</li>
								<li>Увеличение продаж</li>
								<li>Узнаваемость компании</li>
								<li>Повышение лояльности</li>
							</ul>
						</div>
						<div class="col-md-12 col-sm-12 main_text">
							<p>Основным принципом всего продвижения является “Сайт для людей”, не стоит пытаться обхитрить гугл
								или другие поисковые	системы, делая это Вы фактически пытаетесь обхитрить клиента. А это как в онлайн так в офлайн
								бизнесе не приведет к успеху и увеличению прибыли.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="subsection light_style">
		<div class="page_wrap">
			<h2>Услуги и цены</h2>
			<div class="tabel">
				<div class="thead">
					<div class="trow">
						<div class="cell">Наименование услуги</div>
						<div class="cell price">Цена</div>
					</div>
				</div>
				<div class="tbody">
					<div class="trow">
						<div class="cell">Комплексный подход-вложение души и времени</div>
						<div class="cell price">% от результа</div>
					</div>
					<div class="trow">
						<div class="cell">Разработка подробного плана продвижения</div>
						<div class="cell price">от 100 $</div>
					</div>
					<div class="trow">
						<div class="cell">Аудит сайта</div>
						<div class="cell price">50 $</div>
					</div>
					<div class="trow">
						<div class="cell">Наполнение сайта контентом</div>
						<div class="cell price">договорная</div>
					</div>
					<div class="trow">
						<div class="cell">Добавление и описание ассортимента</div>
						<div class="cell price">договорная</div>
					</div>
					<div class="trow">
						<div class="cell">Настройка контекстной рекламы</div>
						<div class="cell price">от 30 $</div>
					</div>
					<div class="trow">
						<div class="cell">SEO оптимизация</div>
						<div class="cell price">от 50 $</div>
					</div>
					<div class="trow">
						<div class="cell">Подключение и настройка аналитики</div>
						<div class="cell price">20 $</div>
					</div>

				</div>
			</div>
			<div class="col-md-12 col-sm-12">
				<a routerLink="/contacts" routerLinkActive="active" class="bunner_btn accent_button">Хочу работать с
					Вами</a>
			</div>
		</div>
	</div>
</section>