<section class="content business_page">
	<div class="subsection">
		<div class="container page_wrap service">
			<div class="row">
				<div class="service">
					<div class="service_description">
						<div class="col-md-12 col-sm-12">
							<h2>Продвижение Продукта</h2>
						</div>
						<div class="col-md-12 col-sm-12 main_text">
							<p>Важной составной частью развития компании является система продвижения продукта (товара, услуги). В условиях
							современного рынка недостаточно производить хороший товар, необходимы еще и меры по продвижению. Это всевозможные
							методы, с помощью которых мы информируем, убеждаем или напоминаем потребителю о своем продукте. Но до того как Вы
							начнете продвигать свой товар (услугу) на рынке необходимо определить потребителя и места обитания потенциальных
							клиентов ..</p>
						</div>
						<div class="col-md-4 col-sm-12 service_img">
							<img src="/compiled/img/gif/product.gif">
						</div>
						<div class="col-md-8 col-sm-12 main_text">
							<p>Само продвижение продукта соответствует этапам жизненного цикла товара:
							</p>
							<ul>
								<li>на этапе выведения товара на рынок – важно информирование потребителей о товаре;</li>
								<li>на этапе роста – с помощью различных мер нужно выделить товар среди других;</li>
								<li>на этапе зрелости – нужно сделать все возможное, чтобы товар занял прочное положение на рынке;</li>
								<li>на этапе упадка – напомнить покупателям о существующем товаре, а также обратить их внимание на модификацию,
								усовершенствование.</li>
							</ul>
						</div>
						<div class="col-md-12 col-sm-12 main_text">
							<p>Главным фактором продвижения является ориентация на потребителя: обеспечение осведомленности потребителя о товаре;
							формирование представлений о характеристиках товара; выяснение отношения к товару; формирование правильного знания о
							товаре, потребительского предпочтения; «подталкивание» потребителя к совершению покупки именно сейчас, а не завтра.</p>
							<p>Главная цель продвижения продукта (услуги) – это стимулирование спроса.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="subsection light_style">
		<div class="page_wrap">
			<h2>Услуги и цены</h2>
			<div class="tabel">
				<div class="thead">
					<div class="trow">
						<div class="cell">Наименование услуги</div>
						<div class="cell price">Цена</div>
					</div>
				</div>
				<div class="tbody">
					<div class="trow">
						<div class="cell">Комплексный подход-вложение души и времени</div>
						<div class="cell price">% от результа</div>
					</div>
					<div class="trow">
						<div class="cell">Разработка подробного плана продвижения</div>
						<div class="cell price">от 150 $</div>
					</div>
					<div class="trow">
						<div class="cell">Описание целевой аудитории</div>
						<div class="cell price">50 $</div>
					</div>
					<div class="trow">
						<div class="cell">Помощь в регистрации торговой марки</div>
						<div class="cell price">100 $</div>
					</div>

				</div>
			</div>
			<div class="col-md-12 col-sm-12">
				<a routerLink="/contacts" routerLinkActive="active" class="bunner_btn accent_button">Хочу работать с
					Вами</a>
			</div>
		</div>
	</div>
</section>