<section class="content page">
	<div class="subsection">
		<div class="container page_wrap">
			<div class="row">
				<h1>Уcтaнoвĸa программного обеспечения</h1>
				<div class="col-md-12 col-sm-12 service_img">
					<img src="/compiled/img/gif/installation.gif">
				</div>
				<div class="col-md-12 col-sm-12 main_text">
					<p>Время от времени мы сталкиваемся с новыми задачами или появляется необходимость решение старых, уже знакомых нам задач
					новыми методами. Вот тогда возникает необходимость в новом программном обеспечении.</p>
					<p>Алгоритм очень прост, необходимо сформулировать задачу, подобрать программу и установить ее. В наше время этот процесс
					не пугает, во времена смартфонов и продвинутых технологий мы ежедневно что-то апгрейтим, устанавливаем и подключаем даже
					не придавая этому особое значение. Да, и компании разработчики делают для нас этот процесс практически незаметным,
					удобным, комфортным, облегчая нам жизнь инструкциями, подсказками и виртуальными ассистентами.</p>
					<p>Да кстати, старайтесь устанавливать и обновлять программное обеспечение только с официальных сайтов разработчиков.
					Ошибки могут дорого обойтись. Но даже если какой-то процесс у Вас вызывает не желание вникать в техническую
					составляющую, вы всегда можете обратиться с данной задачей к узконаправленному специалисту и он с удовольствием поможет
					вам.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="subsection light_style">
		<div class="page_wrap">
			<h2>Услуги и цены</h2>
			<div class="tabel">
				<div class="thead">
					<div class="trow">
						<div class="cell">Наименование услуги</div>
						<div class="cell price">Цена</div>
					</div>
				</div>
				<div class="tbody">
					<div class="trow">
						<div class="cell">Windows(+ программы)</div>
						<div class="cell price">25 $</div>
					</div>
					<div class="trow">
						<div class="cell">Браузеры: Google Chrome. Firefox, Opera…</div>
						<div class="cell price">5 $</div>
					</div>
					<div class="trow">
						<div class="cell">Архиваторы: WinRAR, 7-Zip, PeaZip…</div>
						<div class="cell price">5 $</div>
					</div>
					<div class="trow">
						<div class="cell">Антивирусы: Avast, AVG AntiVirus, Avira…</div>
						<div class="cell price">5 $</div>
					</div>
					<div class="trow">
						<div class="cell">Медиаплеер: VLC, GOM Player…</div>
						<div class="cell price">5 $</div>
					</div>
					<div class="trow">
						<div class="cell">Мессенджер: Viber, Telegram….</div>
						<div class="cell price">5 $</div>
					</div>
					<div class="trow">
						<div class="cell">Графический редактор: GIMP, Krita, PhotoFiltre…</div>
						<div class="cell price">5 $</div>
					</div>
					<div class="trow">
						<div class="cell">Установка Linux</div>
						<div class="cell price">25 $</div>
					</div>
					<div class="trow">
						<div class="cell">Установка программ на Linux</div>
						<div class="cell price">от 10 $</div>
					</div>
				</div>
			</div>
			<div class="col-md-12 col-sm-12">
				<a routerLink="/contacts" routerLinkActive="active" class="bunner_btn accent_button">Хочу работать с
					Вами</a>
			</div>
		</div>
	</div>
</section>