<section class="content page">
	<div class="subsection">
		<div class="container page_wrap">
			<div class="row">
				<h1>Доработки сайта</h1>
				<div class="col-md-12 col-sm-12 service_img">
					<img src="/compiled/img/gif/site_improvements.gif">
				</div>
				<div class="col-md-12 col-sm-12 main_text">
					<p>Начиная с 2008 года штатные программисты, даже в небольших компаниях, это было частое явление. Но, со временем к
					собственникам пришло понимание, что наличие штатного программиста имеет ряд недостатков, например, узкая направленность.
					С молниеносным развитием технологий все чаще стала появляться необходимость привлечение не хватающих бизнесу
					компетенций. Если вам нужна разовая услуга, нет смысла нанимать сотрудника, гораздо выгодней обратиться к сторонним
					специалистам.</p>
					<p>Сейчас аутсорсинг является нормой. Аутсорсинг это возможность решить узконаправленную задачу профессионально и быстро.
					Как бы ни был хорош Ваш штатный программист, если таков имеется, ежедневно каждый из нас сталкивается с множеством задач
					которые заставляют нас задуматься. На решение которых у нас уходит самое ценное - время, иногда, значительно выгодней
					отдать такую задачу на аутсорсинг и спокойно наслаждаться результатом. Особо остро это касается доработок. Подключение
					программ, изменение на сайте, исправление ошибок, модернизация, подключение новых модулей и т. д. Все эти задачи
					качественно и быстро могут решать только узконаправленные специалисты.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="subsection light_style">
		<div class="page_wrap">
			<h2>Услуги и цены</h2>
			<div class="tabel">
				<div class="thead">
					<div class="trow">
						<div class="cell">Наименование услуги</div>
						<div class="cell price">Цена</div>
					</div>
				</div>
				<div class="tbody">
					<div class="trow">
						<div class="cell">Частичный редизайн сайта</div>
						<div class="cell price">от 20 $</div>
					</div>
					<div class="trow">
						<div class="cell">Полный редизайн сайта</div>
						<div class="cell price">от 150 $</div>
					</div>
					<div class="trow">
						<div class="cell">Настройка реферальной программы</div>
						<div class="cell price">50 $</div>
					</div>
					<div class="trow">
						<div class="cell">Микроразметка</div>
						<div class="cell price">от 10 $</div>
					</div>
					<div class="trow">
						<div class="cell">Автоматическая генерация SEO-тегов</div>
						<div class="cell price">от 50 $</div>
					</div>
					<div class="trow">
						<div class="cell">Настройка Google Аналитика</div>
						<div class="cell price">от 20 $</div>
					</div>
					<div class="trow">
						<div class="cell">Перевод сайта на https</div>
						<div class="cell price">20 $</div>
					</div>
					<div class="trow">
						<div class="cell">Синхронизация с системами учета</div>
						<div class="cell price">договорная</div>
					</div>
					<div class="trow">
						<div class="cell">Перенос сайта на VPS</div>
						<div class="cell price">от 50 $</div>
					</div>
					<div class="trow">
						<div class="cell">Автоматизация резервного копирования</div>
						<div class="cell price">30 $</div>
					</div>
					<div class="trow">
						<div class="cell">Перенос сайта на другой движок</div>
						<div class="cell price">договорная</div>
					</div>
					<div class="trow">
						<div class="cell">Исправление ошибок в коде</div>
						<div class="cell price">договорная</div>
					</div>
				</div>
			</div>
			<div class="col-md-12 col-sm-12">
				<a routerLink="/contacts" routerLinkActive="active" class="bunner_btn accent_button">Хочу работать с
					Вами</a>
			</div>
		</div>
	</div>
</section>