<section class="content page">
	<div class="subsection">
		<div class="container page_wrap">
			<div class="row">
				<h1>Настройка</h1>
				<div class="col-md-12 col-sm-12 service_img">
					<img src="/compiled/img/gif/customization.gif">
				</div>
				<div class="col-md-12 col-sm-12 main_text">
					<p>Правильная настройка программного обеспечения это гарантия системной работы Вашей компании и ее безопасности.
					Собственники в погоне за новым и современным забывают проанализировать применимость данного программного обеспечения к
					своей системе бизнеса. В результате получают навороченные программы с массой возможностей и сложные в использовании.</p>
					<p>Иногда, простейшая программа при правильной настройке может стать незаменимым достаточным помощником. Определите какие
					задачи должна решать программа и только тогда выбирайте, не всегда большие возможности это преимущество.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="subsection light_style">
		<div class="page_wrap">
			<h2>Услуги и цены</h2>
			<div class="tabel">
				<div class="thead">
					<div class="trow">
						<div class="cell">Наименование услуги</div>
						<div class="cell price">Цена</div>
					</div>
				</div>
				<div class="tbody">
					<div class="trow">
						<div class="cell">Настройка програм</div>
						<div class="cell price">от 10 $</div>
					</div>
					<div class="trow">
						<div class="cell">Обучение работы с программой</div>
						<div class="cell price">от 30 $</div>
					</div>
				</div>
			</div>
			<div class="col-md-12 col-sm-12">
				<a routerLink="/contacts" routerLinkActive="active" class="bunner_btn accent_button">Хочу работать с
					Вами</a>
			</div>
		</div>
	</div>
</section>