<footer>
	<div class="page_wrap">
		<!-- <form method="POST" action="http://l5.dev" accept-charset="UTF-8"><input name="_token" type="hidden" value="rnktgnOIwG81GuG7qW5Hl6jP6JHOUrucNEty5BaR">
			<label for="email">Хочу получать письма о специальных пердлодениях</label>
			<input name="email" type="email" id="email">
			<input type="submit" value="Подписаться">
		</form> -->
		<form_subscribe></form_subscribe>
	</div>
	<div class="page_wrap hidden">
	</div>
	<div class="copyright">
		<div class="page_wrap">
			<nav>
				<a *ngFor="let item of footerLinks" routerLink="{{item.link}}" routerLinkActive="active">{{item.title}}</a>
			</nav>
			<img class="logo svg" src="/compiled/img/logo-2.1-no-lion.svg" alt="takida Studio Logo">
			<div class="rights">
				<span>Copyright © TakiDa.club 2020. </span><span>All rights reserved</span>
			</div>
		</div>
	</div>
</footer>
