<section class="content techs_page">
	<div class="subsection">
		<div class="page_wrap">
			<div class="container">
				<div class="row">
					<h1>Щас перейдем на другую страницу</h1>
					<div class="">
						<img src="/compiled/img/logo-2.1-no-text0.svg" class="svg" alt="takida.club - создание сайтов">
						<div class="spinner">
							<div class="spinner__item1"></div>
							<div class="spinner__item2"></div>
							<div class="spinner__item3"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>