<section class="content page">
	<div class="subsection">
		<div class="container page_wrap">
			<div class="row">
				<h1>Системы учета</h1>
				<div class="col-md-12 col-sm-12 service_img">
					<!-- <img src="/compiled/img/gif/accounting_systems.gif"> -->
				</div>
				<div class="col-md-12 col-sm-12 main_text">
					<p>Автоматизация и системы учета - это возможность для бизнеса выйти на новый уровень. Это не просто дань
						моде, а скорей	необходимость.</p>
					<p>Система учета в бизнесе решает три основные задачи:</p>
					<ul>
						<li>Создание единого информационного пространства.</li>
						<li>Выявление узких мест, точек роста.</li>
						<li>Помощь в принятии управленческих решений.</li>
					</ul>
					<p>При выборе системы учета, необходимо определить какие задачи она должна решать? Как изменится Ваша
						компания в результате внедрения системы?</p>
					<p>Иногда даже при помощи минимального функционала таблицы Xl или простого софта можно достичь повышения
						прозрачности и управляемости бизнеса. Более требовательные, емкие и насыщенные процессами модели бизнеса, зачастую,
						используют более сложные системы, например такие как 1С. Четко определив требования к функционалу системы можно смело
						приступать к ее выбору.</p>
					<p>Все варианты имеют право на существование, все они работают и помогают решать бизнес-задачи их
						владельцев. Разница между ними лишь в стоимости и количестве комфорта для пользователей. Поэтому когда три собственника придут к
						разработчикам за внедрением системы ведения учета, им предложат разные варианты решений ― и это будет правильно.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="subsection light_style">
		<div class="page_wrap">
			<h2>Услуги и цены</h2>
			<div class="tabel">
				<div class="thead">
					<div class="trow">
						<div class="cell">Наименование услуги</div>
						<div class="cell price">Ценна</div>
					</div>
				</div>
				<div class="tbody">
					<div class="trow">
						<div class="cell">Подбор системы учета под ваши потребности</div>
						<div class="cell price">от 50 $</div>
					</div>
					<div class="trow">
						<div class="cell"><b>1С</b></div>
						<div class="cell price"></div>
					</div>
					<div class="trow">
						<div class="cell">Установка 1С</div>
						<div class="cell price">10 $</div>
					</div>
					<div class="trow">
						<div class="cell">Перенос данных в 1C</div>
						<div class="cell price">от 30 $</div>
					</div>
					<div class="trow">
						<div class="cell">Доработка конфигурации</div>
						<div class="cell price">договорная</div>
					</div>
					<div class="trow">
						<div class="cell">Настройка сервера под 1C</div>
						<div class="cell price">300 $</div>
					</div>
					<div class="trow">
						<div class="cell"><b>Простой софт</b></div>
						<div class="cell price"></div>
					</div>
					<div class="trow">
						<div class="cell">Установка</div>
						<div class="cell price">10 $</div>
					</div>
					<div class="trow">
						<div class="cell">Перенос данных</div>
						<div class="cell price">от 30 $</div>
					</div>
					<div class="trow">
						<div class="cell">Доработка конфигурации</div>
						<div class="cell price">договорная</div>
					</div>
					<div class="trow">
						<div class="cell">Настройка сервера</div>
						<div class="cell price">300 $</div>
					</div>
					<div class="trow">
						<div class="cell"><b>Установка, настройка других програм</b></div>
						<div class="cell price">договорная</div>
					</div>
				</div>
			</div>
			<div class="col-md-12 col-sm-12">
				<a routerLink="/contacts" routerLinkActive="active" class="bunner_btn accent_button">Хочу работать с
					Вами</a>
			</div>
		</div>
	</div>
</section>