<div id="owl-reviews" class="owl-carousel owl-theme owl-reviews">	
	<div class="banner_item">
		<div class="banner_text">
			<h2>Отзыв последнего клиента</h2>
			<img src="/compiled/img/ceo.jpg" alt="">
			<p>Потрясающая поездка! Аккуратный водитель бережно довёз нашу бабушку. От всей нашей семьи примите благодарность
				и пожелания крепкого
				здоровья и безграничного счастья! СПАСИБО!</p>
		</div>
	</div>
	<div class="banner_item">
		<div class="banner_text">
			<h2>Отзыв постояного клиента</h2>
			<img src="/compiled/img/ceo.jpg" alt="">
			<p>Очень комфортная машина, особенно крутое заднее сидьнье которое раскладывается и делается большая кровать)
				Водитель очень внимателен!</p>
		</div>
	</div>
	<div class="banner_item">
		<div class="banner_text">
			<h2>Отзыв довольного клиента</h2>
			<img src="/compiled/img/ceo.jpg" alt="">
			<p># Відмінно</p>
			<p>Все хорошо, достойно, професионально, быстро, остановки везде где клиент говарит, рекомендую данное авто и
				водителя.</p>
		</div>
	</div>
	<div class="banner_item">
		<div class="banner_text">
			<h2>Отзыв недовольного клиента</h2>
			<img src="/compiled/img/ceo.jpg" alt="">
			<p>Поездка прошла отлично, доехали хорошо) очень комфортно). Водитель общителен и внимателен и к пассажирам, и на
				дороге) большое
				спасибо! В автобусах нет кофемашин и кофе не входит в стоимость.</p>
		</div>
	</div>
</div>
