<section class="content business_page">
	<div class="subsection">
		<div class="container page_wrap service">
			<div class="row">
				<div class="service">
					<div class="service_description">
						<div class="col-md-12 col-sm-12">
							<h2>Интернет магазин</h2>
						</div>
						<div class="col-md-12 col-sm-12 main_text">
							<p>Интерент магазин давно уже не вызывает удивление, а скорей стал необходимостью для любого бизнеса. Ответим на два основных вопроса 
								которые задает себе каждый собственник решаясь на какие-то изменения:
							</p>
						</div>
						<div class="col-md-4 col-sm-12 service_img">
							<img src="/compiled/img/gif/store.gif">
						</div>
						<div class="col-md-8 col-sm-12 main_text">
							<p>Что получает клиент?</p>
							<ul>
								<li>Интернет магазин работает 24 часа 7 дней в неделю</li>
								<li>Широкий ассортимент</li>
								<li>Актуальные остатки</li>
								<li>Полная информация о товаре (наверняка Вам встречались не квалифицированные off-line консультанты в
								магазинах)))</li>
								<li>Экономия времени выбора покупки и доставки</li>
								<li>Отсутствие территориального ограничения</li>
							</ul>
						</div>
						<div class="col-md-12 col-sm-12 main_text">
							<p>Что получаю Я?</p>
							<ul>
								<li>Улучшение имиджа компании, повышение доверия</li>
								<li>Улучшение клиент сервиса и качества обслуживания</li>
								<li>Возможность привлекать клиентов на стадии сбора информации</li>
								<li>Упрощает запуск продажи товаров на маркетплейсах</li>
								<li>Доступны управление продажами и анализ продаж</li>
								<li>Отсутствие территориального ограничения</li>
								<li>Возможность сегментирования целевой аудитории и воздействие на нее</li>
							</ul>
							<p>
								Списки преимуществ можно дополнять и обсуждать бесконечно, в зависимости от ваших желаний и фантазии. И все таки, созданный грамотно интернет магазин с легкостью может оптимизировать рабочие процессы, синхронизация с Вашей
								учетной программой (например 1С), сэкономит Вам время, а как следствие сократит расходы.
							</p>
						
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="subsection light_style">
		<div class="page_wrap">
			<h2>Услуги и цены</h2>
			<div class="tabel">
				<div class="thead">
					<div class="trow">
						<div class="cell">Наименование услуги</div>
						<div class="cell price">Цена</div>
					</div>
				</div>
				<div class="tbody">
					<div class="trow">
						<div class="cell">Подбор домена</div>
						<div class="cell price">от 10$</div>
					</div>
					<div class="trow">
						<div class="cell">Создание интернет магазина</div>
						<div class="cell price">от 300 $</div>
					</div>
					<div class="trow">
						<div class="cell">Разработка и подбор макета</div>
						<div class="cell price">50 $</div>
					</div>
					<div class="trow">
						<div class="cell">Составление оптимизированного контента</div>
						<div class="cell price">от 50 $</div>
					</div>
					<div class="trow">
						<div class="cell">Наполнение интернет магазина</div>
						<div class="cell price">договорная</div>
					</div>
					<div class="trow">
						<div class="cell">Комплексный подход-вложение души и времени</div>
						<div class="cell price">% от продаж</div>
					</div>
				</div>
			</div>
			<div class="col-md-12 col-sm-12">
				<a routerLink="/contacts" routerLinkActive="active" class="bunner_btn accent_button">Хочу работать с
					Вами</a>
			</div>
		</div>
	</div>
</section>