<section class="content portfolio_page">
	<div class="page_wrap">
		<h1>Портфолио</h1>
		<p class="portfolio_page_descr">Мы выполняем самые разные задачи, начиная от простых веб-страниц и персональных блогов до крупных интернет магазинов и индивидуальных решений. Работаем с самыми неординарными требованиями к проекту и сможем найти самое оптимальное решение исходя из вашего бюджета. Предлагаем ознакомиться с некоторыми из выполненных работ.</p>
		<div class="tags_block ">
			<!-- У следующих тегов р класс, который стоит на первом месте не менять
					и не перемещать на другое место. обработка js. -->
			<p class="all tag_js active">#все</p>
			<p class="landing tag_js ">#лендинг</p>
			<p class="visit tag_js">#сайт-визитка</p>
			<p class="storage tag_js">#интернет магазин</p>
			<p class="corp tag_js ">#корпоративный сайт</p>
			<p class="catalog tag_js ">#каталог</p>
		</div>
	</div>
	<div class="container">
		<div class="row items_wrap">
			<div class="col-xs-12 col-sm-6 col-md-4 project storage">
				<div class="page_item">
					<div class="text_block">
						<p class="title">Bino</p>
						<p class="short_descr">Лендинг</p>
						<p class="short_descr">PSD to HTML</p>
						<a class="no_accent_button" routerLink="bino" routerLinkActive="active">Подробнее</a>
					</div>
					<img src="/compiled/img/projects/bino/bino_logo.png">
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 project storage">
				<div class="page_item">
					<div class="text_block">
						<p class="title">Pizzeria da persio</p>
						<p class="short_descr">Лендинг</p>
						<p class="short_descr">PSD to HTML</p>
						<a class="no_accent_button" routerLink="pizzeria_da_persio" routerLinkActive="active">Подробнее</a>
					</div>
					<img src="/compiled/img/projects/pizzeria_da_persio/logo_pizzeria_da_persio.png">
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 project visit">
				<div class="page_item">
					<div class="text_block">
						<p class="title">LiteLife</p>
						<p class="short_descr">Блог</p>
						<p class="short_descr">CMS: Wordpress</p>
						<a class="no_accent_button" routerLink="litelife" routerLinkActive="active">Подробнее</a>
					</div>
					<img src="/compiled/img/projects/litelife/logo.png">
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 project storage">
				<div class="page_item">
					<div class="text_block">
						<p class="title">Служба снабжения XT</p>
						<p class="short_descr">Интернет-магазин</p>
						<p class="short_descr">CMS: Индивидуальная разработка</p>
						<a class="no_accent_button" routerLink="xt" routerLinkActive="active">Подробнее</a>
					</div>
					<img src="/compiled/img/projects/xt/logo.png">
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 project storage">
				<div class="page_item">
					<div class="text_block">
						<p class="title">Barbator</p>
						<p class="short_descr">Интернет-магазин</p>
						<p class="short_descr">CMS: PrestaShop</p>
						<a class="no_accent_button" routerLink="barbator" routerLinkActive="active">Подробнее</a>
					</div>
					<img src="/compiled/img/projects/barbator/logo.png">
				</div>
			</div>
		</div>
		<div class="show_more hidden">
			<button class="accent_button">Показать еще</button>
		</div>
	</div>
</section>