<section class="content contacts_page">
	<div class="subsection accent_style short_contacts_wrap">
		<div class="page_wrap">
			<h2>Мы рады Вам</h2>
			<div class="container">
				<div class="row">	

					<div class="col-xs-12 col-md-12 to_animate contact_item" data-animation="fadeInRicht">
						<a href="viber://chat?number=+380958279022">
							<img src="compiled/img/icons/viber-2.svg" alt="viber" class="viber">
						</a>
						<a href="tel:+380958279022">
							<p>+38 (095) 82 79 022</p>
						</a>
						<a href="tel:+380675740901">
							<p>+38 (067) 57 40 901</p>
						</a>
						<a href="mailto:takida.it@gmail.com">
							<p>takida.it@gmail.com</p>
						</a>
					</div>
					<div class="col-xs-6 col-md-6 to_animate contact_item" data-animation="fadeInRicht">
						<!-- <a href="https://https://goo.gl/maps/UHttvgCq26wMhpJw6" target="_blank">-->
						<!-- <span class="icon"><img src="compiled/img/icons/location.svg" alt="location" class="svg_img svg"></span> -->
						<p>Одесса</p>
						<!-- <p>ул. Базовая 13</p> -->
						 <!-- </a> -->
					</div>
					<div class="col-xs-6 col-md-6 to_animate contact_item" data-animation="fadeInUp">
						<!-- <a href="https://goo.gl/maps/EqQsF2XNCQrQgzYp9" target="_blank"> -->
							<!-- <span class="icon"><img src="compiled/img/icons/location.svg" alt="location" class="svg_img svg"></span> -->
							<p>Харьков</p>
							<!-- <p>ул. Академика Павлова 151</p> -->
						<!-- </a> -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="subsection contacts_wrap light_style">
		<div class="page_wrap row">
			<!-- <form_message></form_message> -->
			<!-- <div class="col-xs-12 col-md-6 contact_us_wrap">
				<h2>Напишите нам</h2>
				<div class="page_item">
					<form class="row">
						<div class="col-md-12">
							<input type="text" class="subject" name="subject" placeholder="Тема">
						</div>
						<div class="col-md-8">
							<textarea cols="50" name="subject" placeholder="Сообщение:" class="message" required></textarea>
						</div>
						<div class="col-md-4">
							<input type="text" class="username" name="username" placeholder="Ваше имя" class="name" required />
							<input type="email" class="emailaddress" name="emailaddress" placeholder="Email" class="email" required />
							<input type="tel" class="userphone" name="userphone" placeholder="Номер телефона">
							<input type="submit" name="submit" class="accent_button submit_btn" value="Отправить" />
						</div>
					</form>
				</div>
			</div> -->
			<my-map></my-map>
		</div>
	</div>
</section>