<section class="content home_page">
	<div class="banner_wrap">
		<owl-banner></owl-banner>
	</div>
	<a routerLink="techs">
		<div class="subsection technologies_wrap light_style" id="techs">
			<div class="page_wrap wide">
				<h2>Технологии</h2>
				<owl-techs></owl-techs>
			</div>
		</div>
	</a>
	<div class="subsection services_wrap">
		<div class="page_wrap">
			<div class="container">
				<h2>Маркетинг</h2>
				<div class="row">
					<div class="service">
						<div class="tabs_block">
							<ul class="tabs">
								<li  class="active">Маркетинговый план</li>
								<li  class="">Продвижение</li>
								<li  class="">Разработка сайтов</li>
								<li  class="">Рекламная продукция</li>
							</ul>
							<div class="box visible">
								<div class="container slide_text">
									<div class="row">
										<div class="col-xs-12 col-md-12 col-sm-12 text">
											<p>Ежедневно мы сталкиваемся с принятиями решений, большие и маленькие, глобальные и локальные, решения могут быть от
												судьбоносных до "какого цвета трубочку выбрать при покупке кофе".</p>
												<p>Да, это тоже принятое Вами решение!</p>
											<p>Но, все таки, большая часть этих решений совсем не спонтанна, а связана тем или иным способом с нашими целями.</p>
											<p>Маркетинговый план - это список мероприятий по улучшению работы компании.  Все волшебство в его грамотном составлении.</p>
										</div>
									</div> 
								</div>
								<div class="container">
									<ul class="row akkordeon">
										<!-- <a routerLink="website"> -->
											<li class="page_item col-xs-6 col-md-6 to_animate" data-animation="fadeInLeft">
												<div>
													<div class="service_icon" id="target"><img src="compiled/img/increase_in_sales-icon.svg" class="svg_img svg"
															alt="Optimization of business processes"></div>
													<p class="title" title="">Увеличение продаж</p>
													<p class="description hidden">Описание</p>
												</div>
											</li>
										<!-- </a> -->
										<!-- <a routerLink="website"> -->
											<li class="page_item col-xs-6 col-md-6 to_animate" data-animation="fadeInRight">
												<div>
													<div class="service_icon"><img src="compiled/img/sale_channels_icon.svg" class="svg_img svg"
															alt="Development of an automation system"></div>
													<p class="title" title="">Новые каналы</p>
													<p class="description hidden">Описание</p>
												</div>
											</li>
										<!-- </a> -->
									</ul>
								</div>
							</div>
							<div class="box">
								<div class="container slide_text">
									<div class="row">
										<div class="col-md-12 col-sm-12 text">
											<p>В мире практически не существует уникальных в своем роде предложений, особенно остро это касается интернета. Как бы не
											было интересно Ваше предложение - у него уже есть конкуренты! Продвижение как раз обеспечивает нас возможностью обойти
											всех, стать более интересными и актуальными для клиента. Продвижение формирует имидж компании, обеспечивает Ваш бизнес
											притоком новых клиентов, а также дает возможность удержать их.
											</p>
											<p>Продвижение - определенно добро для вашего бизнеса.</p>
										</div>
									</div>
								</div>
								<div class="container">
									<ul class="row akkordeon">
										<!-- <a routerLink="website"> -->
											<li class="page_item col-xs-4 col-md-4 to_animate" data-animation="fadeInUp">
												<div>
													<div class="service_icon" id="target"><img src="compiled/img/business_promotion_icon.svg" class="svg_img svg"
															alt="Optimization of business processes"></div>
													<p class="title" title="">Бизнеса</p>
													<p class="description hidden">Описание</p>
												</div>
											</li>
										<!-- </a> -->
										<!-- <a routerLink="website"> -->
											<li class="page_item col-xs-4 col-md-4 to_animate" data-animation="fadeInUp">
												<div>
													<div class="service_icon"><img src="compiled/img/product_promotion_icon.svg" class="svg_img svg"
															alt="Development of an automation system"></div>
													<p class="title" title="">Продукта</p>
													<p class="description hidden">Описание</p>
												</div>
											</li>
										<!-- </a> -->
										<!-- <a routerLink="website"> -->
											<li class="page_item col-xs-4 col-md-4 to_animate" data-animation="fadeInRight">
												<div>
													<div class="service_icon"><img src="compiled/img/promotion_icon.svg" class="svg_img svg"
															alt="Development of an automation system"></div>
													<p class="title" title="">Сайта</p>
													<p class="description hidden">Описание</p>
												</div>
											</li>
										<!-- </a> -->
									</ul>
								</div>
							</div>
							<div class="box">
								<div class="container slide_text">
									<div class="row">
										<div class="col-md-12 col-sm-12 text">
											<p>Зачем нужен сайт? А, он возможно нужен не Вам, но уж точно нужен Вашим клиентам.</p>
											<p>Создать свой сайт очень просто, современные технологии предлагают без особого труда и глубоких знаний создать простейшую
											модель сайта самостоятельно. Но если Ваши желания не ограничиваются минимальным вариантом, то тут открывается
											бескрайнее поле для фантазии и креатива.</p>
											<p>Погрузившись в мир онлайн продаж или услуг, Вы открываете для себя множество возможностей:</p>
											<ul>
												<li>целевая аудитория</li>
												<li>привлечение новых клиентов без ограничений</li>
												<li>доверие к бизнесу</li>
												<li>информирование аудитории</li>
												<li>круглосуточный доступ</li>
												<li>реклама на любой вкус и что немаловажно достоверный анализ результатов</li>
												<li>общение с клиентом</li>
												<li>формирования бренда</li>
												<li>бонусы в конкурентной борьбе</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="container">
									<ul class="row akkordeon">
										<!-- <a routerLink="website"> -->
											<li class="page_item col-xs-4 col-md-4 to_animate" data-animation="fadeInLeft">
												<div>
													<div class="service_icon" id="target"><img src="compiled/img/vizitka_icon.svg" class="svg_img svg"
															alt="Optimization of business processes"></div>
													<p class="title" title="">Визитка</p>
													<p class="description hidden">Описание</p>
												</div>
											</li>
										<!-- </a> -->
										<!-- <a routerLink="website"> -->
											<li class="page_item col-xs-4 col-md-4 to_animate" data-animation="fadeInLeft">
												<div>
													<div class="service_icon"><img src="compiled/img/katalog_icon.svg" class="svg_img svg"
															alt="Development of an automation system"></div>
													<p class="title" title="">Каталог</p>
													<p class="description hidden">Описание</p>
												</div>
											</li>
										<!-- </a> -->
										<!-- <a routerLink="website"> -->
											<li class="page_item col-xs-4 col-md-4 to_animate" data-animation="fadeInRight">
												<div>
													<div class="service_icon"><img src="compiled/img/internet_shop_icon.svg" class="svg_img svg"
															alt="Development of an automation system"></div>
													<p class="title" title="">Интернет магазин</p>
													<p class="description hidden">Описание</p>
												</div>
											</li>
										<!-- </a> -->
									</ul>
								</div>
							</div>
							<div class="box">
								<div class="container slide_text">
									<div class="row">
										<div class="col-md-12 col-sm-12 text">
											<p>Рекламная продукция является неотъемлемым условием успешной конкуренции. С одной стороны, она содержит в себе
											определен­ную информацию, а с другой – служит ориентиром для потребителей. Согласитесь, ошибочно думать, что клиент при
											выборе товара судит только по внешнему виду.</p>
											<p>Использование рекламной продукции позволяет приблизить клиента к себе. Это еще один из методов касания с клиентом.</p>
										</div>
									</div>
								</div>
								<div class="container">
									<ul class="row akkordeon">
										<!-- <a routerLink="website"> -->
										<li class="page_item col-xs-4 col-md-4 to_animate" data-animation="fadeInRight">
											<div>
												<div class="service_icon" id="target"><img src="compiled/img/list_icon.svg" class="svg_img svg"
														alt="Optimization of business processes"></div>
												<p class="title" title="">Листовки</p>
												<p class="description hidden">Описание</p>
											</div>
										</li>
										<!-- </a> -->
										<!-- <a routerLink="website"> -->
											<li class="page_item col-xs-4 col-md-4 to_animate" data-animation="fadeInRight">
												<div>
													<div class="service_icon"><img src="compiled/img/signboard_icon.svg" class="svg_img svg"
															alt="Development of an automation system"></div>
													<p class="title" title="">Вывески</p>
													<p class="description hidden">Описание</p>
												</div>
											</li>
										<!-- </a> -->
										<!-- <a routerLink="website"> -->
											<li class="page_item col-xs-4 col-md-4 to_animate" data-animation="fadeInRight">
												<div>
													<div class="service_icon"><img src="compiled/img/ban_icon.svg" class="svg_img svg"
															alt="Development of an automation system"></div>
													<p class="title" title="">Баннера</p>
													<p class="description hidden">Описание</p>
												</div>
											</li>
										<!-- </a> -->
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	<div class="subsection services_wrap"></div>
		<div class="page_wrap">
			<div class="container">
				<h2>IT-сервис</h2>
				<div class="row">
					<div class="service">
						<div class="tabs_block">
							<ul class="tabs">
								<li id="landing" class="active">Оптимизация бизнес-процессов</li>
								<li id="comapany_site" class="">Внедрение системы автоматизации</li>
								<li id="shop" class="">Программист</li>
								<li id="site_card" class="">Системный администратор</li>
							</ul>
							<div class="box visible">
								<div class="container slide_text">
									<div class="row">
										<div class="col-md-12 col-sm-12 text">
											<p>До определённого уровня развития компания вполне может обойтись без «оптимизации системы деятельности».</p>
											<p>Оптимизация нужна если в определенный момент Вы обнаружили что:</p>
											<ul>
												<li>дублируются должностные обязанности</li>
												<li>растет количество уровней управления</li>
												<li>отсутствует единая информационная система</li>
												<li>решения реализуются медленно и некачественно</li>
												<li>выясняется, что некоторые аспекты деятельности остались без контроля</li>
												<li>неурегулированность прав, обязанностей, ответственности сотрудников</li>
												<li>выполнение элементарных рабочих операций требует много времени и согласований.</li>
											</ul>
											<p>Эти факторы, создают необоснованную хаотичность и приводят к лишним затратам.</p>
										</div>
									</div>
								</div>
								<div class="container">
									<ul class="row akkordeon">
										<!-- <a routerLink="website"> -->
										<li class="page_item col-xs-12 col-md-12 to_animate" data-animation="fadeInRight">
											<div>
												<div class="service_icon" id="target"><img src="compiled/img/profitability.svg" class="svg_img svg"
														alt="Optimization of business processes"></div>
												<p class="title" title="">Увеличить рентабельность</p>
												<p class="description hidden">Описание</p>
											</div>
										</li>
										<!-- </a> -->
									</ul>
								</div>
							</div>
							<div class="box">
								<div class="container slide_text">
									<div class="row">
										<div class="col-md-12 col-sm-12 text">
											<p>Трудно представить, во время высокоразвитых технологий, успешную развивающуюся компанию которая ведет учет в
												“школьной
												тетрадки в клеточку” или бухгалтерию в “черном блокноте”. Да, сейчас, это безусловно вызывает смех.</p>
											<p>Процесс автоматизации бизнеса переводит основную часть рутинных задач на плечи компьютера. Как результат все процессы
											Вашей компании упорядочены в одну единую систему.</p>
										</div>
									</div>
								</div>
								<div class="container">
									<ul class="row akkordeon">
										<!-- <a routerLink="website"> -->
										<li class="page_item col-xs-4 col-md-4 to_animate" data-animation="fadeInLeft">
											<div>
												<div class="service_icon" id="target"><img src="compiled/img/accounting_systems.svg" class="svg_img svg"
														alt="Optimization of business processes"></div>
												<p class="title" title="">Системы учета</p>
												<p class="description hidden">Описание</p>
											</div>
										</li>
										<!-- </a> -->
										<!-- <a routerLink="website"> -->
										<li class="page_item col-xs-4 col-md-4 to_animate" data-animation="fadeInLeft">
											<div>
												<div class="service_icon"><img src="compiled/img/crm_icon.svg" class="svg_img svg"
														alt="Customer Relationship Management"></div>
												<p class="title" title="">CRM системы</p>
												<p class="description hidden">Описание</p>
											</div>
										</li>
										<!-- </a> -->
										<!-- <a routerLink="website"> -->
										<li class="page_item col-xs-4 col-md-4 to_animate" data-animation="fadeInLeft">
											<div>
												<div class="service_icon"><img src="compiled/img/telephony.svg" class="svg_img svg"
														alt="Development of an automation system"></div>
												<p class="title" title="">IP телефония</p>
												<p class="description hidden">Описание</p>
											</div>
										</li>
										<!-- </a> -->
									</ul>
								</div>
							</div>
							<div class="box">
								<div class="container slide_text">
									<div class="row">
										<div class="col-md-12 col-sm-12 text">
											<p>Кто ОН, этот человек?</p>
											<ul>
												<li>он знает почему не работает сайт и как это исправить</li>
												<li>он знает как сделать так, чтоб всплывало окошко, да еще подсвечивалось и само закрывалось…</li>
												<li>он знает как вкрутить новый отчет или починить старый</li>
												<li>он знает как сделать так, чтоб прайс лист который Вы вводили пол дня, подтягивался при нажатии одной кнопки</li>
											</ul>
												<p>Он точно знает, как можно облегчить жизнь Вам и Вашим клиентам. И он может это сделать. Программист это человек который
													получает радость от успеха решения проблемы!</p>
										</div>
									</div>
								</div>
								<div class="container">
									<ul class="row akkordeon">
										<!-- <a routerLink="website"> -->
											<li class="page_item col-xs-3 col-md-3 to_animate" data-animation="fadeInUp">
												<div>
													<div class="service_icon" id="target"><img src="compiled/img/web.svg" class="svg_img svg"
															alt="Optimization of business processes"></div>
													<p class="title" title="">Доработки сайта</p>
												</div>
											</li>
										<!-- </a> -->
										<!-- <a routerLink="website"> -->
										<li class="page_item col-xs-3 col-md-3 to_animate" data-animation="fadeInUp">
											<div>
												<div class="service_icon"><img src="compiled/img/ps_icon.svg" class="svg_img svg"
														alt="Development of an automation system"></div>
												<p class="title" title="">Простой софт</p>
												<p class="description hidden">Описание</p>
											</div>
										</li>
										<!-- </a> -->
										<!-- <a routerLink="website"> -->
										<li class="page_item col-xs-3 col-md-3 to_animate" data-animation="fadeInUp">
											<div>
												<div class="service_icon"><img src="compiled/img/1c_icon.svg" class="svg_img svg"
														alt="Installing the software"></div>
												<p class="title" title="">Конфигурации </p>
												<p class="description hidden">Описание</p>
											</div>
										</li>
										<!-- </a> -->
										<!-- <a routerLink="website"> -->
										<li class="page_item col-xs-3 col-md-3 to_animate" data-animation="fadeInUp">
											<div>
												<div class="service_icon"><img src="compiled/img/sql.svg" class="svg_img svg"
														alt="Technical support, IT specialist"></div>
												<p class="title" title="">Базы данных</p>
												<p class="description hidden">Описание</p>
											</div>
										</li>
										<!-- </a> -->
									</ul>
								</div>
							</div>
							<div class="box">
								<div class="container slide_text">
									<div class="row">
										<div class="col-md-12 col-sm-12 text">
											<p>Не секрет, что в наше время высокоразвитых технологий, работа многих тесно соприкасается с компьютерной техникой.
												Техника любит уход, кто никак другой обеспечивает работу парка компьютерной техники, сетей и программного
												обеспечения.</p>
												<p>Все мы в своей жизни соприкасаемся с этим человеком. Мы чиним гаджеты, устанавливаем программное обеспечение,
												настраиваем доступы, просто подключаем оргтехнику. Говоря проще, системный администратор нужен, чтобы включить «вот эту штуку», и для того, чтоб «всё работало».</p>
												<p>Да, без сисадмина никуда, и это Факт!</p>
										</div>
									</div>
								</div>
								<div class="container">
									<ul class="row akkordeon">
										<!-- <a routerLink="website"> -->
										<li class="page_item col-xs-4 col-md-4 to_animate" data-animation="fadeInLeft">
											<div>
												<div class="service_icon" id="target"><img src="compiled/img/installation_icon.svg" class="svg_img svg"
														alt="installation"></div>
												<p class="title" title="">Установка</p>
												<p class="description hidden">Описание</p>
											</div>
										</li>
										<!-- </a> -->
										<!-- <a routerLink="website"> -->
											<li class="page_item col-xs-4 col-md-4 to_animate" data-animation="fadeInUp">
												<div>
													<div class="service_icon"><img src="compiled/img/customization.svg" class="svg_img svg"
															alt="Development of an automation system"></div>
													<p class="title" title="">Настройка</p>
													<p class="description hidden">Описание</p>
												</div>
											</li>
										<!-- </a> -->
										<!-- <a routerLink="website"> -->
										<li class="page_item col-xs-4 col-md-4 to_animate" data-animation="fadeInUp">
											<div>
												<div class="service_icon"><img src="compiled/img/update_icon.svg" class="svg_img svg"
														alt="Development of an automation system"></div>
												<p class="title" title="">Обновление</p>
												<p class="description hidden">Описание</p>
											</div>
										</li>
										<!-- </a> -->
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="subsection projects_wrap light_style to_animate animation_group" data-animation="fadeInUp">
		<div class="page_wrap">
			<div class="container">
				<h2>О нас</h2>
				<div class="row">
					<div class="col-md-12 col-sm-12 slide_text">
						<p><b>Takida</b>.club - компания занимающееся оптимизацией и автоматизацией бизнеса. Основное наше преимущество,
						это комплексный подход к клиенту.</p>
						<p><b>Миссия</b> - Создаем автономный контролируемый бизнес!</p>
						<p><b>Команда</b>– высококлассные специалисты различных сфер деятельности, современные технологии и отлаженный, доведенный до совершенства рабочий механизм.</p>
						<p>Как Мы работаем:</p>
							<ul>
								<li>Мы предложим Вам встречу в любом удобном месте и в любое удобное (для Вас) время.</li>
								<li>Мы внимательно выслушаем суть Вашей задачи.</li>
								<li>На основании услышанного, мы предложим несколько вариантов решения.</li>
								<li>Далее мы предоставляем Вам технический план и информацию по срокам и стоимости.</li>
								<li>После внедрения Вы получаете полную консультацию (обучение) по особенностям эксплуатации.</li>
								<li>Независимо от того, где будет использоваться данная технология, мы предоставляем гарантию и возможность технического обслуживания.</li>
							</ul>
						<p>Наши принципы</p>
						<ul>
							<li>Честность - это  основа доверия людей друг другу.</li>
							<li>Ответственность - всегда исполняем все свои обещания и все свои обязательства.</li>
							<li>Пунктуальность - сроки, которые оговариваются, соблюдаются с безукоризненной точностью.</li>
							<li>Конфиденциальность - гарантируем полную конфиденциальность информации, полученной от Вас.</li>
							<li>Гарантия - обязательно предоставляем гарантию на наши услуги.</li>
						</ul>
						<p><b>Успех неизбежен если заниматься любимым делом!</b></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="subsection about_studio_wrap" id="about">
		<div class="page_wrap">
			<h2>Основатели</h2>
			<div class="container">
				<div class="row">
					<div class="col-xs-4 col-md-4 col-sm-4 to_animate" data-animation="fadeInLeft">
						<div class="page_item">
							<div class="img_wrap"><img src="/compiled/img/ceo.jpg" class="svg" alt="avatar"></div>
							<p class="title">Виталий</p>
							<p class="prof">&lt;<span>development</span> class="<span>founder</span>"&gt;</p>
						</div>
					</div>
					<div class="col-xs-4 col-md-4 col-sm-4 to_animate" data-animation="fadeInUp">
						<div class="page_item">
							<div class="img_wrap"><img src="/compiled/img/fd1.jpg" class="svg" alt="avatar"></div>
							<p class="title">Елена</p>
							<p class="prof">&lt;<span>marketing</span> class="<span>founder</span>"&gt;</p>
							<!-- <p class="social">
								<a href="https://www.facebook.com/takida.clab"><img src="compiled/img/icons/facebook.svg" alt="location" class="svg_img svg" target="_blank"></a>
							</p> -->
						</div>
					</div>
					<div class="col-xs-4 col-md-4 col-sm-4 to_animate" data-animation="fadeInRight">
						<div class="page_item">
							<div class="img_wrap"><img src="/compiled/img/fd2.jpg" class="svg" alt="avatar"></div>
							<p class="title">Арте́ль свободных людей</p>
							<p class="prof">&lt;<span>command</span> class="<span>senior</span>"&gt;</p>
						</div>
					</div>
				</div>
			</div>
			<p>Создаем автономный контролируемый бизнес!</p>
		</div>
	</div>
<!-- 	<div class="subsection short_contacts_wrap light_style">
		<div class="page_wrap">
			<h2>А, как Вам это нравится?</h2>
			<table>
	 		   <tr>
			    <th>Вид оплаты</th><th>Детали</th><th>Стоимость</th></tr>
			    <tr><td>Клубная карта</td><td>100 часов програмист + 10 часов системный администратор</td><td>1000 $</td></tr>
			    <tr><td>Почасовая (аналитик, маркетолог, программист)</td><td>Задачи обсуждаются в процессе работы</td><td>от 10 $/час</td></tr>
			    <tr><td>Почасовая (системный администратор)</td><td>Задачи обсуждаются в процессе работы</td><td>от 5 $/час</td></tr>
			   	<tr><td>Проектная</td><td>Согласно детального технического задания</td><td>договорная</td></tr>
			</table>
			<p>Воспользовавшись нашими услугами Вы будете обмануты меньше :).</p>
		</div>
	</div> -->
</section>
<my-contacts></my-contacts>
<!-- <my-form_message></my-form_message> -->