<section class="content home_page">
	<div class="banner_wrap">
		<owl-banner></owl-banner>
	</div>
	<a routerLink="techs">
		<div class="subsection technologies_wrap light_style" id="techs">
			<div class="page_wrap wide">
				<h2>Технологии</h2>
				<owl-techs></owl-techs>
			</div>
		</div>
	</a>
<my-services></my-services>
	<div class="subsection projects_wrap light_style to_animate animation_group" data-animation="fadeInUp">
		<div class="page_wrap">
			<div class="container">
				<h2>О нас</h2>
				<div class="row">
					<div class="col-md-12 col-sm-12 slide_text">
						<p><b>Takida</b>.club - компания занимающееся оптимизацией и автоматизацией бизнеса. Основное наше преимущество,
						это комплексный подход к клиенту.</p>
						<p><b>Миссия</b> - Создаем автономный контролируемый бизнес!</p>
						<p><b>Команда</b>– высококлассные специалисты различных сфер деятельности, современные технологии и отлаженный, доведенный до совершенства рабочий механизм.</p>
						<p>Как Мы работаем:</p>
							<ul>
								<li>Мы предложим Вам встречу в любом удобном месте и в любое удобное (для Вас) время.</li>
								<li>Мы внимательно выслушаем суть Вашей задачи.</li>
								<li>На основании услышанного, мы предложим несколько вариантов решения.</li>
								<li>Далее мы предоставляем Вам технический план и информацию по срокам и стоимости.</li>
								<li>После внедрения Вы получаете полную консультацию (обучение) по особенностям эксплуатации.</li>
								<li>Независимо от того, где будет использоваться данная технология, мы предоставляем гарантию и возможность технического обслуживания.</li>
							</ul>
						<p>Наши принципы</p>
						<ul>
							<li>Честность - это  основа доверия людей друг другу.</li>
							<li>Ответственность - всегда исполняем все свои обещания и все свои обязательства.</li>
							<li>Пунктуальность - сроки, которые оговариваются, соблюдаются с безукоризненной точностью.</li>
							<li>Конфиденциальность - гарантируем полную конфиденциальность информации, полученной от Вас.</li>
							<li>Гарантия - обязательно предоставляем гарантию на наши услуги.</li>
						</ul>
						<p><b>Мы занимаемся любимым делом!</b></p>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- <my-portfolio></my-portfolio> -->
	<div class="subsection about_studio_wrap" id="about">
		<div class="page_wrap">
			<h2>Основатели</h2>
			<div class="container">
				<div class="row">
					<div class="col-xs-4 col-md-4 col-sm-4 to_animate" data-animation="fadeInLeft">
						<div class="page_item">
							<div class="img_wrap"><img src="/compiled/img/ceo.jpg" class="svg" alt="avatar"></div>
							<p class="title">Виталий</p>
							<p class="prof">&lt;<span>development</span> class="<span>founder</span>"&gt;</p>
						</div>
					</div>
					<div class="col-xs-4 col-md-4 col-sm-4 to_animate" data-animation="fadeInUp">
						<div class="page_item">
							<div class="img_wrap"><img src="/compiled/img/fd1.jpg" class="svg" alt="avatar"></div>
							<p class="title">Елена</p>
							<p class="prof">&lt;<span>marketing</span> class="<span>founder</span>"&gt;</p>
							<!-- <p class="social">
								<a href="https://www.facebook.com/takida.clab"><img src="compiled/img/icons/facebook.svg" alt="location" class="svg_img svg" target="_blank"></a>
							</p> -->
						</div>
					</div>
					<div class="col-xs-4 col-md-4 col-sm-4 to_animate" data-animation="fadeInRight">
						<div class="page_item">
							<div class="img_wrap"><img src="/compiled/img/fd2.jpg" class="svg" alt="avatar"></div>
							<p class="title">Арте́ль свободных людей</p>
							<p class="prof">&lt;<span>command</span> class="<span>senior</span>"&gt;</p>
						</div>
					</div>
				</div>
			</div>
			<p>Создаем автономный контролируемый бизнес!</p>
		</div>
	</div>
</section>
<my-contacts></my-contacts>

<!-- <link rel="import" href="./contacts.component.html"> -->
<!-- <my-form_message></my-form_message> -->