<section class="content page">
	<div class="subsection">
		<div class="container page_wrap">
			<div class="row">
				<h1>Разработка чат ботов</h1>
				<div class="col-md-12 col-sm-12 service_img">
					<img src="/compiled/img/gif/chat_bots.gif">
				</div>
				<div class="col-md-12 col-sm-12 main_text">
					<p>Чат-Боты позволяют минимизировать расходы, связанные с ежедневным и однотипным взаимодействием с
						большим количеством пользователей. Автоматизация рабочего процесса уместна в том случае, если задачи и цели этого процесса
						могут быть описаны и представлены блок-схемой.</p>
					<p>Если Вы задумались использовать такую современную технологию ка Чат-Бот, то для начала Вам необходимо
						определить ключевые цели и задачи, под которые он разрабатывается. В зависимости от задач, определяются сценарии
						взаимодействия бота с пользователями. На основании этих данных разрабатывается блок-схема чат-бота для мессенджеров
						или сайта. Чат-Боты реализуются под разные мессенджеры: telegram, viber, fb messenger, whatsup и другие. Чаще всего, для
						чат - ботов требуется синхронизация с системами учета, CRM, бухгалтерскими программами, CMS сайтов.</p>
					<p>Преимущества Чат-Ботов очевидны. Клиент получает любимую форму общения - диалог. Возможность ответа
						без набора текста, с	помощью предлагаемых кнопок. Нет ненужной информации, все коротко и ясно, задаем вопрос - получаем
						ответ. Пользователи стали ленивы и не хотят долго искать информацию, и тем более много читать и разбираться. Чат-Бот
						сокращает время нахождения правильного ответа клиентом на 70%.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="subsection light_style">
		<div class="page_wrap">
			<h2>Услуги и цены</h2>
			<div class="tabel">
				<div class="thead">
					<div class="trow">
						<div class="cell">Наименование услуги</div>
						<div class="cell price">Ценна</div>
					</div>
				</div>
				<div class="tbody">
					<div class="trow">
						<div class="cell">Чат бот Viber</div>
						<div class="cell price">от 150$</div>
					</div>
					<div class="trow">
						<div class="cell">Чат бот Telegram</div>
						<div class="cell price">от 150$</div>
					</div>
					<div class="trow">
						<div class="cell">Чат бот Whatsapp</div>
						<div class="cell price">от 150 $</div>
					</div>
					<div class="trow">
						<div class="cell">Доработка существующего бота</div>
						<div class="cell price">от 50 $</div>
					</div>
				</div>
			</div>
			<div class="col-md-12 col-sm-12">
				<a routerLink="/contacts" routerLinkActive="active" class="bunner_btn accent_button">Хочу работать с
					Вами</a>
			</div>
		</div>
	</div>
</section>