<section class="content business_page">
	<div class="subsection">
		<div class="container page_wrap service">
			<div class="row">
				<div class="service">
					<div class="service_description">
						<div class="col-md-12 col-sm-12">
							<h2>Продвижение продукта</h2>
						</div>
						<div class="col-md-12 col-sm-12 main_text">
							<p>Давайте разберем, что такое интернет каталог (сайт каталог) в чем его отличие от интернет
								магазина и в каких случаях он станет незаменимым каналом продаж?</p>
						</div>

						<div class="col-md-8 col-sm-12 main_text">
							<p>Сайт каталог это ресурс содержащий:</p>
							<ul>
								<li>Структура каталога с вложенностью</li>
								<li>Карточки товара (описание, фото, характеристики, цена)</li>
								<li>Возможность поиска товаров</li>
								<li>Возможность сравнение товаров</li>
							</ul>
							<p>Интернет магазин включает в себя:</p>
							<ul>
								<li>Полноценный личный кабинет с возможностью купить товар</li>
								<li>Возможность оплаты</li>
								<li>Возможность выбора способа доставки</li>
								<li>Возможность управлять ценовой политикой каталога (скидки, акции…)</li>
								<li>Синхронизация с учетными программами например 1С</li>
								<li>Автоматический документооборот</li>
								<li>Сегментация клиентской базы</li>
								<li>Сервисы статистики по продажам</li>
							</ul>

						</div>
						<!-- <div class="col-md-4 col-sm-12 service_img">
							<img src="/compiled/img/gif/business_promotion.gif">
						</div> -->
						<div class="col-md-12 col-sm-12 main_text">
							<p>Вам может показаться, что отличие этих двух ресурсов в наличии кнопки купить? Но это не совсем
								так. Дело в том, что
								качественный интернет магазин берет на себя функцию продажи, таким образом процесс оформления
								заказа ложиться на
								клиента. В случае сайта каталога этот функционал Вы оставляете за собой.</p>
							<p>Сайт каталог необходимо выбирать тем моделям бизнеса в которых обычно товары или перечень услуг
								требуют дополнительной
								консультации и помощи при оформлении заказа. В этом случае Вы должны быть готовы организовать
								процесс оформление заказа
								менеджером или консультантом. Очень часто некачественные интернет магазины превращаются в сайты
								каталоги и процесс
								оформление заказ ложиться на менеджеров. Это происходит если клиенты не находят простого и
								быстрого ответа на тот или
								иной вопрос. Ну или чего хуже ведет к потере клиентов.</p>
							<p>Ключевым моментом при выборе модели ресурса должно быть качество и удобство для клиента.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="subsection light_style">
		<div class="page_wrap">
			<h2>Услуги и цены</h2>
			<div class="tabel">
				<div class="thead">
					<div class="trow">
						<div class="cell">Наименование услуги</div>
						<div class="cell price">Цена</div>
					</div>
				</div>
				<div class="tbody">
					<div class="trow">
						<div class="cell">Подбор домена</div>
						<div class="cell price">от 10$</div>
					</div>
					<div class="trow">
						<div class="cell">Создание сайта каталога</div>
						<div class="cell price">от 200 $</div>
					</div>
					<div class="trow">
						<div class="cell">Разработка и подбор макета</div>
						<div class="cell price">50 $</div>
					</div>
					<div class="trow">
						<div class="cell">Составление оптимизированного контента</div>
						<div class="cell price">от 50 $</div>
					</div>
					<div class="trow">
						<div class="cell">Наполнение каталога контентом</div>
						<div class="cell price">договорная</div>
					</div>

				</div>
			</div>
			<div class="col-md-12 col-sm-12">
				<a routerLink="/contacts" routerLinkActive="active" class="bunner_btn accent_button">Хочу работать с
					Вами</a>
			</div>
		</div>
	</div>
</section>