<div class="subsection services_wrap">
	<div class="page_wrap">
		<div class="container">
			<h2>Маркетинг</h2>
			<div class="row">
				<div class="service">
					<div class="tabs_block">
						<ul class="tabs">
							<li class="active">Продвижение</li>
							<li class="">Маркетинговый план</li>
							<li class="">Разработка сайтов</li>
							<li class="">Рекламная продукция</li>
						</ul>
						<div class="box visible">
							<div class="container slide_text">
								<div class="row">
									<div class="col-md-12 col-sm-12 text">
										<p>В мире практически не существует уникальных в своем роде предложений, особенно остро
											это касается интернета. Как бы не
											было интересно Ваше предложение - у него уже есть конкуренты! Продвижение как раз
											обеспечивает нас возможностью обойти
											всех, стать более интересными и актуальными для клиента. Продвижение формирует имидж
											компании, обеспечивает Ваш бизнес
											притоком новых клиентов, а также дает возможность удержать их.
										</p>
										<p>Продвижение - определенно добро для вашего бизнеса.</p>
									</div>
								</div>
							</div>
							<div class="container">
								<ul class="row akkordeon">
									<a routerLink="business">
										<li class="page_item col-xs-4 col-md-4 to_animate" data-animation="fadeInUp">
											<div>
												<div class="service_icon" id="target"><img
														src="compiled/img/business_promotion_icon.svg" class="svg_img svg"
														alt="Business promotion"></div>
												<p class="title" title="">Бизнеса</p>
												<p class="description hidden">Описание</p>
											</div>
										</li>
									</a>
									<a routerLink="product">
									<li class="page_item col-xs-4 col-md-4 to_animate" data-animation="fadeInUp">
										<div>
											<div class="service_icon"><img src="compiled/img/product_promotion_icon.svg"
													class="svg_img svg" alt="Development of an automation system"></div>
											<p class="title" title="">Продукта</p>
											<p class="description hidden">Описание</p>
										</div>
									</li>
									</a>
									<a routerLink="website">
									<li class="page_item col-xs-4 col-md-4 to_animate" data-animation="fadeInRight">
										<div>
											<div class="service_icon"><img src="compiled/img/promotion_icon.svg"
													class="svg_img svg" alt="Development of an automation system"></div>
											<p class="title" title="">Сайта</p>
											<p class="description hidden">Описание</p>
										</div>
									</li>
									</a>
								</ul>
							</div>
						</div>
						<div class="box">
							<div class="container slide_text">
								<div class="row">
									<div class="col-xs-12 col-md-12 col-sm-12 text">
										<p>Ежедневно мы сталкиваемся с принятиями решений, большие и маленькие, глобальные и
											локальные, решения могут быть от
											судьбоносных до "какого цвета трубочку выбрать при покупке кофе".</p>
										<p>Да, это тоже принятое Вами решение!</p>
										<p>Но, все таки, большая часть этих решений совсем не спонтанна, а связана тем или иным
											способом с нашими целями.</p>
										<p>Маркетинговый план - это список мероприятий по улучшению работы компании. Все
											волшебство в его грамотном составлении.</p>
									</div>
								</div>
							</div>
							<div class="container">
								<ul class="row akkordeon">
									<!-- <a routerLink="website"> -->
									<li class="page_item col-xs-6 col-md-6 to_animate" data-animation="fadeInLeft">
										<div>
											<div class="service_icon" id="target"><img
													src="compiled/img/increase_in_sales-icon.svg" class="svg_img svg"
													alt="Increase in sales"></div>
											<p class="title" title="">Увеличение чека</p>
											<p class="description hidden">Описание</p>
										</div>
									</li>
									<!-- </a> -->
									<!-- <a routerLink="website"> -->
									<li class="page_item col-xs-6 col-md-6 to_animate" data-animation="fadeInLeft">
										<div>
											<div class="service_icon"><img src="compiled/img/sale_channels_icon.svg"
													class="svg_img svg" alt="sale channels"></div>
											<p class="title" title="">Новые каналы продаж</p>
											<p class="description hidden">Описание</p>
										</div>
									</li>
									<!-- </a> -->
								</ul>
							</div>
						</div>
						<div class="box">
							<div class="container slide_text">
								<div class="row">
									<div class="col-md-12 col-sm-12 text">
										<p>Зачем нужен сайт? А, он возможно нужен не Вам, но уж точно нужен Вашим клиентам.</p>
										<p>Создать свой сайт очень просто, современные технологии предлагают без особого труда и
											глубоких знаний создать простейшую
											модель сайта самостоятельно. Но если Ваши желания не ограничиваются минимальным
											вариантом, то тут открывается
											бескрайнее поле для фантазии и креатива.</p>
										<p>Погрузившись в мир онлайн продаж или услуг, Вы открываете для себя множество
											возможностей:</p>
										<ul>
											<li>целевая аудитория</li>
											<li>привлечение новых клиентов без ограничений</li>
											<li>доверие к бизнесу</li>
											<li>информирование аудитории</li>
											<li>круглосуточный доступ</li>
											<li>реклама на любой вкус и что немаловажно достоверный анализ результатов</li>
											<li>общение с клиентом</li>
											<li>формирования бренда</li>
											<li>бонусы в конкурентной борьбе</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="container">
								<ul class="row akkordeon">
									<a routerLink="website_card">
									<li class="page_item col-xs-4 col-md-4 to_animate" data-animation="fadeInLeft">
										<div>
											<div class="service_icon" id="target"><img src="compiled/img/vizitka_icon.svg"
													class="svg_img svg" alt="Optimization of business processes"></div>
											<p class="title" title="">Визитка</p>
											<p class="description hidden">Описание</p>
										</div>
									</li>
									</a>
									<a routerLink="website_catalog">
									<li class="page_item col-xs-4 col-md-4 to_animate" data-animation="fadeInUp">
										<div>
											<div class="service_icon"><img src="compiled/img/katalog_icon.svg" class="svg_img svg"
													alt="Development of an automation system"></div>
											<p class="title" title="">Каталог</p>
											<p class="description hidden">Описание</p>
										</div>
									</li>
									</a>
									<a routerLink="website_store">
									<li class="page_item col-xs-4 col-md-4 to_animate" data-animation="fadeInUp">
										<div>
											<div class="service_icon"><img src="compiled/img/internet_shop_icon.svg"
													class="svg_img svg" alt="Development of an automation system"></div>
											<p class="title" title="">Интернет магазин</p>
											<p class="description hidden">Описание</p>
										</div>
									</li>
									</a>
								</ul>
							</div>
						</div>
						<div class="box">
							<div class="container slide_text">
								<div class="row">
									<div class="col-md-12 col-sm-12 text">
										<p>Рекламная продукция является неотъемлемым условием успешной конкуренции. С одной
											стороны, она содержит в себе
											определен­ную информацию, а с другой – служит ориентиром для потребителей. Согласитесь,
											ошибочно думать, что клиент при
											выборе товара судит только по внешнему виду.</p>
										<p>Использование рекламной продукции позволяет приблизить клиента к себе. Это еще один из
											методов касания с клиентом.</p>
									</div>
								</div>
							</div>
							<div class="container">
								<ul class="row akkordeon">
									<!-- <a routerLink="website"> -->
									<li class="page_item col-xs-4 col-md-4 to_animate" data-animation="fadeInRight">
										<div>
											<div class="service_icon" id="target"><img src="compiled/img/list_icon.svg"
													class="svg_img svg" alt="Optimization of business processes"></div>
											<p class="title" title="">Листовки</p>
											<p class="description hidden">Описание</p>
										</div>
									</li>
									<!-- </a> -->
									<!-- <a routerLink="website"> -->
									<li class="page_item col-xs-4 col-md-4 to_animate" data-animation="fadeInRight">
										<div>
											<div class="service_icon"><img src="compiled/img/signboard_icon.svg"
													class="svg_img svg" alt="Development of an automation system"></div>
											<p class="title" title="">Вывески</p>
											<p class="description hidden">Описание</p>
										</div>
									</li>
									<!-- </a> -->
									<!-- <a routerLink="website"> -->
									<li class="page_item col-xs-4 col-md-4 to_animate" data-animation="fadeInRight">
										<div>
											<div class="service_icon"><img src="compiled/img/ban_icon.svg" class="svg_img svg"
													alt="Development of an automation system"></div>
											<p class="title" title="">Баннера</p>
											<p class="description hidden">Описание</p>
										</div>
									</li>
									<!-- </a> -->
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="subsection services_wrap"></div>
	<div class="page_wrap">
		<div class="container">
			<h2>IT-сервис</h2>
			<div class="row">
				<div class="service">
					<div class="tabs_block">
						<ul class="tabs">
							<li id="landing" class="active">Оптимизация бизнес-процессов</li>
							<li id="comapany_site" class="">Внедрение системы автоматизации</li>
							<li id="shop" class="">Программист</li>
							<li id="site_card" class="">Системный администратор</li>
						</ul>
						<div class="box visible">
							<div class="container slide_text">
								<div class="row">
									<div class="col-md-12 col-sm-12 text">
										<p>До определённого уровня развития компания вполне может обойтись без «оптимизации
											системы деятельности».</p>
										<p>Оптимизация нужна если в определенный момент Вы обнаружили что:</p>
										<ul>
											<li>выполнение элементарных рабочих операций требует много времени</li>
											<li>отсутствует единая информационная система</li>
											<li>выясняется, что некоторые аспекты деятельности остались без контроля</li>
											<li>решения реализуются медленно и некачественно</li>
											<li>дублируются должностные обязанности</li>
											<li>неурегулированность прав, обязанностей, ответственности сотрудников</li>
											<li>растет количество уровней управления.</li>
										</ul>
										<p>Эти факторы, создают необоснованную хаотичность и приводят к лишним затратам.</p>
									</div>
								</div>
							</div>
							<div class="container">
								<ul class="row akkordeon">
									<a routerLink="profitability" href="/profitability">
										<li class="page_item col-xs-12 col-md-12 to_animate" data-animation="fadeInRight">
											<div>
												<div class="service_icon" id="target"><img src="compiled/img/profitability.svg"
														class="svg_img svg" alt="Optimization of business processes"></div>
												<p class="title" title="">Увеличить рентабельность</p>
												<p class="description hidden">Описание</p>
											</div>
										</li>
									</a>
								</ul>
							</div>
						</div>
						<div class="box">
							<div class="container slide_text">
								<div class="row">
									<div class="col-md-12 col-sm-12 text">
										<p>Трудно представить, во время высокоразвитых технологий, успешную развивающуюся компанию
											которая ведет учет в
											“школьной
											тетрадки в клеточку” или бухгалтерию в “черном блокноте”. Да, сейчас, это безусловно
											вызывает смех.</p>
										<p>Процесс автоматизации бизнеса переводит основную часть рутинных задач на плечи
											компьютера. Как результат все процессы
											Вашей компании упорядочены в одну единую систему.</p>
									</div>
								</div>
							</div>
							<div class="container">
								<ul class="row akkordeon">
									<a routerLink="accounting_systems">
									<li class="page_item col-xs-3 col-md-3 to_animate" data-animation="fadeInLeft">
										<div>
											<div class="service_icon" id="target"><img src="compiled/img/accounting_systems.svg"
													class="svg_img svg" alt="Optimization of business processes"></div>
											<p class="title" title="">Системы учета</p>
											<p class="description hidden">Описание</p>
										</div>
									</li>
									</a>
									<a routerLink="crm_systems">
									<li class="page_item col-xs-3 col-md-3 to_animate" data-animation="fadeInLeft">
										<div>
											<div class="service_icon"><img src="compiled/img/crm_icon.svg" class="svg_img svg"
													alt="Customer Relationship Management"></div>
											<p class="title" title="">CRM системы</p>
											<p class="description hidden">Описание</p>
										</div>
									</li>
									</a>
									<a routerLink="ip_telephony">
									<li class="page_item col-xs-3 col-md-3 to_animate" data-animation="fadeInLeft">
										<div>
											<div class="service_icon"><img src="compiled/img/telephony.svg" class="svg_img svg"
													alt="Development of an automation system"></div>
											<p class="title" title="">IP телефония</p>
											<p class="description hidden">Описание</p>
										</div>
									</li>
									</a>
									<a routerLink="chat_bots">
									<li class="page_item col-xs-3 col-md-3 to_animate" data-animation="fadeInLeft">
										<div>
											<div class="service_icon"><img src="compiled/img/chatbot.svg" class="svg_img svg"
													alt="Development of an automation system"></div>
											<p class="title" title="">Чат боты</p>
											<p class="description hidden">Описание</p>
										</div>
									</li>
									</a>
								</ul>
							</div>
						</div>
						<div class="box">
							<div class="container slide_text">
								<div class="row">
									<div class="col-md-12 col-sm-12 text">
										<p>Кто ОН, этот человек?</p>
										<ul>
											<li>он знает почему не работает сайт и как это исправить</li>
											<li>он знает как сделать так, чтоб всплывало окошко, да еще подсвечивалось и само
												закрывалось…</li>
											<li>он знает как вкрутить новый отчет или починить старый</li>
											<li>он знает как сделать так, чтоб прайс лист который Вы вводили пол дня, подтягивался
												при нажатии одной кнопки</li>
										</ul>
										<p>Он точно знает, как можно облегчить жизнь Вам и Вашим клиентам. И он может это сделать.
											Программист это человек который
											получает радость от успеха решения проблемы!</p>
									</div>
								</div>
							</div>
							<div class="container">
								<ul class="row akkordeon">
									<a routerLink="site_improvements">
									<li class="page_item col-xs-3 col-md-3 to_animate" data-animation="fadeInUp">
										<div>
											<div class="service_icon" id="target"><img src="compiled/img/web.svg"
													class="svg_img svg" alt="Optimization of business processes"></div>
											<p class="title" title="">Доработки сайта</p>
										</div>
									</li>
									</a>
									<a routerLink="1c">
									<li class="page_item col-xs-3 col-md-3 to_animate" data-animation="fadeInUp">
										<div>
											<div class="service_icon"><img src="compiled/img/1c_icon.svg" class="svg_img svg"
													alt="Installing the software"></div>
											<p class="title" title="">Подержка 1С</p>
											<p class="description hidden">Описание</p>
										</div>
									</li>
									</a>
									<a routerLink="simple_software">
									<li class="page_item col-xs-3 col-md-3 to_animate" data-animation="fadeInUp">
										<div>
											<div class="service_icon"><img src="compiled/img/ps_icon.svg" class="svg_img svg"
													alt="Development of an automation system"></div>
											<p class="title" title="">Простой софт</p>
											<p class="description hidden">Описание</p>
										</div>
									</li>
									</a>
									<a routerLink="database">
									<li class="page_item col-xs-3 col-md-3 to_animate" data-animation="fadeInUp">
										<div>
											<div class="service_icon"><img src="compiled/img/sql.svg" class="svg_img svg"
													alt="Technical support, IT specialist"></div>
											<p class="title" title="">Базы данных</p>
											<p class="description hidden">Описание</p>
										</div>
									</li>
									</a>
								</ul>
							</div>
						</div>
						<div class="box">
							<div class="container slide_text">
								<div class="row">
									<div class="col-md-12 col-sm-12 text">
										<p>Не секрет, что в наше время высокоразвитых технологий, работа многих тесно
											соприкасается с компьютерной техникой.
											Техника любит уход, кто никак другой обеспечивает работу парка компьютерной техники,
											сетей и программного
											обеспечения.</p>
										<p>Все мы в своей жизни соприкасаемся с этим человеком. Мы чиним гаджеты, устанавливаем
											программное обеспечение,
											настраиваем доступы, просто подключаем оргтехнику. Говоря проще, системный
											администратор нужен, чтобы включить «вот эту штуку», и для того, чтоб «всё работало».
										</p>
										<p>Да, без сисадмина никуда, и это Факт!</p>
									</div>
								</div>
							</div>
							<div class="container">
								<ul class="row akkordeon">
									<a routerLink="installation">
									<li class="page_item col-xs-4 col-md-4 to_animate" data-animation="fadeInLeft">
										<div>
											<div class="service_icon" id="target"><img src="compiled/img/installation_icon.svg"
													class="svg_img svg" alt="installation"></div>
											<p class="title" title="">Установка</p>
											<p class="description hidden">Описание</p>
										</div>
									</li>
									</a>
									<a routerLink="customization">
									<li class="page_item col-xs-4 col-md-4 to_animate" data-animation="fadeInUp">
										<div>
											<div class="service_icon"><img src="compiled/img/customization.svg" class="svg_img svg"
													alt="Development of an automation system"></div>
											<p class="title" title="">Настройка</p>
											<p class="description hidden">Описание</p>
										</div>
									</li>
									</a>
									<a routerLink="update">
									<li class="page_item col-xs-4 col-md-4 to_animate" data-animation="fadeInUp">
										<div>
											<div class="service_icon"><img src="compiled/img/update_icon.svg" class="svg_img svg"
													alt="Development of an automation system"></div>
											<p class="title" title="">Обновление</p>
											<p class="description hidden">Описание</p>
										</div>
									</li>
									</a>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>