<div id="owl-techn" class="owl-carousel owl-theme owl_techn">
	<div class="page_item">
		<img class="svg_img svg html_logo" src="/compiled/img/html.svg">
	</div>
	<div class="page_item">
		<img class="svg_img svg jquery_logo" src="/compiled/img/jquery.svg">
	</div>
	<div class="page_item">
		<img class="svg_img svg css_logo" src="/compiled/img/css.svg">
	</div>
	<div class="page_item">
		<img class="svg_img svg wp_logo" src="/compiled/img/js.svg">
	</div>
	<div class="page_item">
		<img class="svg_img svg angular_logo" src="/compiled/img/angular.svg">
	</div>
	<div class="page_item">
		<img class="svg_img svg php_logo" src="/compiled/img/php.svg">
	</div>
	<div class="page_item">
		<img class="svg_img svg wp_logo" src="/compiled/img/wp.svg">
	</div>
	<div class="page_item">
		<img class="svg_img svg opencart_logo" src="/compiled/img/opencart.svg">
	</div>
	<div class="page_item">
		<img class="svg_img svg ps_logo" src="/compiled/img/ps.svg">
	</div>
	<div class="page_item">
		<img class="svg_img svg 1c_logo" src="/compiled/img/1c.svg">
	</div>
	<div class="page_item">
		<img class="svg_img svg Bitrix_logo" src="/compiled/img/Bitrix.svg">
	</div>
	<div class="page_item">
		<img class="svg_img svg ast_logo" src="/compiled/img/ast.svg">
	</div>
</div>