<section class="content business_page">
	<div class="subsection">
		<div class="container page_wrap service">
			<div class="row">
				<div class="service">
					<div class="service_description">
						<div class="col-md-12 col-sm-12">
							<h2>Визитка или Лендинг</h2>
						</div>
						<div class="col-md-12 col-sm-12 main_text">
							<p>Сайт визитка, одностраничник, Лендинг (Landing page) - это все сайты содержащие одну страницу с	призывом, что-то сделать. Целью может быть: скачать презентацию, купить товар, подписаться на рассылку, заказать	консультацию, записаться
								на прием.</p>
								<p></p>
						</div>
						<div class="col-md-4 col-sm-12 service_img">
							<img src="/compiled/img/gif/card.gif">
						</div>
						<div class="col-md-8 col-sm-12 main_text">
							<p>Сайт визитка содержит следующие блоки:</p>
								<ul>
									<li>О компании</li>
									<li>Отзывы и достижения</li>
									<li>Услуги их перечень и стоимость</li>
									<li>Контактная информация</li>
									<li>Возможность связи</li>
								</ul>
								<p>Эти блоки являются базовыми и могут быть дополнены любой другой информацией. При создании сайта не стоит использовать
								более трех цветов, это будет отвлекать клиентов, лучше
								всего придерживаться стиля компании.</p>
						</div>
						<div class="col-md-12 col-sm-12 main_text">
							<p>Сайт визитка необходим если Вы хотите кратко, но ёмко заявить о своей компании всем
							потенциальным клиентам. Преимущества сайта визитки в том, что на интернет странички можно разместить гораздо больше
							информации, чем на обычном кусочке картона. У Вас отпадет необходимость рассказывать бесконечно раз кто Вы и что
							предлагаете,
							достаточно лишь перенаправлять Ваших клиентов на сайт визитку. Такие похожие, но все же Лендинг и сайт визитка имеют и
							отличия. Они оба содержат информацию о компании и оба размещаются на одной странице, но лендинг создается для короткого
							стимулирования роста продаж или для
							сообщения о временной скидке, акции. Сайт визитка это универсальный ресурс который подходит абсолютно всем.
							При необходимости сайт визитку можно масштабировать до размеров обычного сайта.</p>
							<p>Этапы создания сайта визитки:</p>
							<ul>
								<li>Проанализировать конкурентов</li>
								<li>Определить и проанализировать аудиторию</li>
								<li>Составить контент</li>
								<li>Нарисовать шаблон</li>
								<li>Создать сайт</li>
							</ul>
							<p>Грамотно продуманный и оптимизированный сайт визитка станет явным помощником для Вас. Такой сайт
								очень прост в
								обслуживании и легко продвигаем.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="subsection light_style">
		<div class="page_wrap">
			<h2>Услуги и цены</h2>
			<div class="tabel">
				<div class="thead">
					<div class="trow">
						<div class="cell">Наименование услуги</div>
						<div class="cell price">Цена</div>
					</div>
				</div>
				<div class="tbody">
					<div class="trow">
						<div class="cell">Создание сайта визитки</div>
						<div class="cell price">от 100 $</div>
					</div>
					<div class="trow">
						<div class="cell">Разработка и подбор макета</div>
						<div class="cell price">от 50 $</div>
					</div>
					<div class="trow">
						<div class="cell">Подбор и регистрация домена</div>
						<div class="cell price">от 10 $</div>
					</div>
					<div class="trow">
						<div class="cell">Наполнение сайта контентом</div>
						<div class="cell price">договорная</div>
					</div>

				</div>
			</div>
			<div class="col-md-12 col-sm-12">
				<a routerLink="/contacts" routerLinkActive="active" class="bunner_btn accent_button">Хочу работать с
					Вами</a>
			</div>
		</div>
	</div>
</section>