<section class="content page">
	<div class="subsection">
		<div class="container page_wrap">
			<div class="row">
				<h1>Подержка 1С </h1>
				<div class="col-md-12 col-sm-12 service_img">
					<img src="/compiled/img/gif/1c.gif">
				</div>
				<div class="col-md-12 col-sm-12 ">
					<p>Если для вашей успешной работы в 1С не хватает каких-то функций, то поверьте, они уже разработаны их
						только нужно подключить. Программа 1С заслужила свою популярность именно благодаря своей полноте и
						комплексности.</p>
					<p>Типовые конфигурации 1С написаны для типовых учетов и ориентированы на некоторую среднюю и практически
						идеальную
						организацию. Что не всегда применимо в реальных условиях. Однако, имея понимания процессов в компании,
						конфигурацию
						можно поменять исключительно под Вашу модель бизнеса.</p>
					<p>На помощь тут могут прийти программисты понимающие структуру конфигурации, возможности системы, ее
						конкретные механизмы
						и знающие как эффективно применить эти сведения на практике. Они же смогут выполнить доработку
						конфигурации 1С, расширяя
						ее стандартный функционал.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="subsection light_style">
		<div class="page_wrap">
			<h2>Услуги и цены</h2>
			<div class="tabel">
				<div class="thead">
					<div class="trow">
						<div class="cell">Наименование услуги</div>
						<div class="cell price">Ценна</div>
					</div>
				</div>
				<div class="tbody">
					<div class="trow">
						<div class="cell">Обновление</div>
						<div class="cell price">20 $</div>
					</div>
					<div class="trow">
						<div class="cell">Доработка функционала</div>
						<div class="cell price">договорная</div>
					</div>
					<div class="trow">
						<div class="cell">Отчеты (добавить изменить)</div>
						<div class="cell price">от 50 $</div>
					</div>
					<div class="trow">
						<div class="cell">Что-то не работает</div>
						<div class="cell price">от 50 $</div>
					</div>
					<div class="trow">
						<div class="cell">Прочие задачи</div>
						<div class="cell price">от 10 $/час</div>
					</div>
				</div>
			</div>
			<div class="col-md-12 col-sm-12">
				<a routerLink="/contacts" routerLinkActive="active" class="bunner_btn accent_button">Хочу работать с
					Вами</a>
			</div>
		</div>
	</div>
</section>