<section class="content page">
	<div class="subsection">
		<div class="container page_wrap">
			<div class="row">
				<h1>Настойка IP телефонии</h1>
				<div class="col-md-12 col-sm-12 service_img">
					<img src="/compiled/img/gif/ip_telephony.gif">
				</div>
				<div class="col-md-12 col-sm-12 main_text">
					<p>Наличие IP-телефонии позволяет объединить в единую сеть все каналы посредством общей АТС, получать объективную оценку
					аналитики, маршрутизацию звонков. Связь через сеть лимитируется поставщиком услуг и стоит в разы дешевле. IP телефония -
					это удобно и выгодно, потому что:</p>
					<ul>
						<li>Очередность звонков</li>
						<li>Автоответчики IVR меню, настройка сценариев “нет на месте”, “все операторы заняты”</li>
						<li>Запись, прослушивание звонков</li>
						<li>Создание конференций, вызовы скайпа</li>
						<li>Внутренние номера</li>
						<li>Распределение вызовов по внутренним номерам</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="subsection light_style">
		<div class="page_wrap">
			<h2>Услуги и цены</h2>
			<div class="tabel">
				<div class="thead">
					<div class="trow">
						<div class="cell">Наименование услуги</div>
						<div class="cell price">Цена</div>
					</div>
				</div>
				<div class="tbody">
					<div class="trow">
						<div class="cell">Настойка виртуальной АТС (Binotel, Phonet …)</div>
						<div class="cell price">от 50 $</div>
					</div>
					<div class="trow">
						<div class="cell">Настройка нового номера</div>
						<div class="cell price">10 $</div>
					</div>
					<div class="trow">
						<div class="cell">Изменение настроек Astérix</div>
						<div class="cell price">от 30 $</div>
					</div>
					<div class="trow">
						<div class="cell">Настойка сихронизации с Astérix</div>
						<div class="cell price">договорная</div>
					</div>
					<div class="trow">
						<div class="cell">Подключение нового шлюза к Astérix</div>
						<div class="cell price">от 30 $</div>
					</div>
					<div class="trow">
						<div class="cell">Переустановка Astérix</div>
						<div class="cell price">от 100 $</div>
					</div>
					<div class="trow">
						<div class="cell">Настройка, обновление SIP клиента</div>
						<div class="cell price">10 $</div>
					</div>
				</div>
			</div>
			<div class="col-md-12 col-sm-12">
				<a routerLink="/contacts" routerLinkActive="active" class="bunner_btn accent_button">Хочу работать с
					Вами</a>
			</div>
		</div>
	</div>
</section>