<section class="content business_page">
	<div class="subsection">
		<div class="container page_wrap service">
			<div class="row">
				<div class="service">
					<div class="service_description">
						<div class="col-md-12 col-sm-12">
							<h2>Продвижение Бизнеса</h2>
						</div>
						<div class="col-md-12 col-sm-12 main_text">
							<p>Вне зависимости от приоритетов и целей, Продвижение Бизнеса (компании) включает несколько
								обязательных этапов:</p>
						</div>
						<div class="col-md-4 col-sm-12 service_img">
							<img src="/compiled/img/gif/business_promotion.gif">
						</div>
						<div class="col-md-8 col-sm-12 service_text">
							<p><b>Имидж</b> - узнаваемый бренд заслуживающий доверие</p>
							<p><b>Репутация</b> - формирование положительного отношения у аудитории</p>
							<p><b>Качество продукта</b> - нельзя получить долгосрочную популярность без качества продукта!</p>
							<p><b>Вовлеченность персонала</b> - мотивирующее состояние команды.</p>
							<p><b>Культура компании</b> - ценностные установки.</p>
							<p><b>Продвижение</b> - за счет чего увеличивать прибыль. </p>
						</div>
						<div class="col-md-12 col-sm-12 main_text">
							<p>Рост позиций компании непосредственно зависит от всех этих этапов. Регулярно работая над уровнем
								доверия, популярностью,
								формируется репутация Вашей компании</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="subsection light_style">
		<div class="page_wrap">


			<div class="col-md-12 col-sm-12">
				<a routerLink="/contacts" routerLinkActive="active" class="bunner_btn accent_button">Хочу работать с
					Вами</a>
			</div>
		</div>
	</div>
</section>