<section class="content page">
	<div class="subsection dark">
		<div class="container page_wrap service">
			<div class="row">
				<div class="service">
					<div class="service_description">
						<div class="col-md-12 col-sm-12">
							<h2>Продвижение Бизнеса</h2>
						</div>
						<div class="col-md-12 col-sm-12 main_text">
							<p>Целью любого бизнеса является получение прибыли и ее стабильное увеличение. Ответ на вопрос - за
								счет чего увеличивать
								прибыль? Является некой тактикой продвижения Вашего бизнеса. На сегодняшний день способов и
								методов продвижения сотни:</p>
						</div>
						<div class="col-md-4 col-sm-12 service_img">
							<!-- <img src="/compiled/img/gif/business.gif"> -->
						</div>
						<div class="col-md-8 col-sm-12 main_text">
							<ul>
								<li>собственый бренд</li>
								<li>реклама в СМИ</li>
								<li>наружная реклама, раздаточные материалы</li>
								<li>акции, спонсорство, мероприятия</li>
								<li>активные продажи, звонки, встречи</li>
								<li>сайт, каталоги, сео продвижение</li>
								<li>контекстная, медийная, тизерная, таргетированная реклама</li>
								<li>E-mail маркетинг, рассылки смс, мессенджеры, социальные сети </li>
								<li>репутационный маркетинг, сарафанное радио</li>
							</ul>
							<p>и многое другое используют ежедневно миллионы компаний.</p>
						</div>
						<div class="col-md-12 col-sm-12 main_text">
							<p>С развитием маркетинга список методов продвижения регулярно меняется и пополняется. Какие-то
								методы теряют свою
								актуальность, а новые открывают трендовые возможности. Не Забывайте развиваться в этом
								направлении. Определив группу
								приемлемых для Вашей модели бизнеса, необходимо их внедрить и проанализировать эффективность.
								Если коротко описать
								процесс продвижения, его можно представить в виде трех действий в четкой последовательности:
								Гипотеза→Тест→Анализ</p>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="subsection light_style">
		<div class="page_wrap">
			<h2>Услуги и цены</h2>
			<div class="tabel">
				<div class="thead">
					<div class="trow">
						<div class="cell">Наименование услуги</div>
						<div class="cell price">Цена</div>
					</div>
				</div>
				<div class="tbody">
					<div class="trow">
						<div class="cell">Комплексный подход-вложение души и времени</div>
						<div class="cell price">% от результа</div>
					</div>
					<div class="trow">
						<div class="cell">Разработка подробного плана продвижения</div>
						<div class="cell price">от 300 $</div>
					</div>
					<div class="trow">
						<div class="cell">Анализ и постановка целей</div>
						<div class="cell price">от 50 $</div>
					</div>
					<div class="trow">
						<div class="cell">Формирование корпоративного стиля</div>
						<div class="cell price">100 $</div>
					</div>
					<div class="trow">
						<div class="cell">Описание целевой аудитории</div>
						<div class="cell price">50 $</div>
					</div>
					<div class="trow">
						<div class="cell">Помощь в регистрации торговой марки</div>
						<div class="cell price">100 $</div>
					</div>

				</div>
			</div>
			<div class="col-md-12 col-sm-12">
				<a routerLink="/contacts" routerLinkActive="active" class="bunner_btn accent_button">Хочу работать с Вами</a>
			</div>
		</div>
	</div>
	<div class="banner_wrap">
		<owl-reviews></owl-reviews>
	</div>
</section>