<section class="content techs_page">
	<div class="subsection">
		<div class="page_wrap">
			<div class="container">
				<div class="row">
					<h1>Технологии</h1>
					<div class="tech col-md-3 col-sm-12 flip-container" ontouchstart="this.classList.toggle('hover');">
						<div class="flipper">
							<div class="tech_image html_logo col-md-3 col-sm-12 front">
								<!-- front content -->
								<img class="svg_img svg" src="/compiled/img/html.svg">
							</div>
							<div class="tech_description back">
								<!-- back content -->
							     HTML5 - альфа и амега. Основные функции его это создание
								заголовков, выделений абзацев с помощью тегов. Сам по себе язык Html не является языком программирования, то есть не
								может создавать динамические функции вместо этого он способен организовывать и форматировать документы.
							</div>
						</div>
					</div>
					<div class="tech col-md-3 col-sm-12 flip-container" ontouchstart="this.classList.toggle('hover');">
						<div class="flipper">
							<div class="tech_image html_logo col-md-3 col-sm-12 front">
								<!-- front content -->
								<img class="svg_img svg" src="/compiled/img/css.svg">
							</div>
							<div class="tech_description back">
								<!-- back content -->
							     CSS3 - Chevrolet Chevelle SS. Это язык, который отвечает за визуальное представление документов пользователю. В современном интернете практически ни
								один сайт не обходится без CSS, поэтому HTML и CSS действуют в единой связке. Простыми словами это язык с помощью
								которого программисты добавляют (новые краски) сайту.
							</div>
						</div>
					</div>
					<div class="tech col-md-3 col-sm-12 flip-container" ontouchstart="this.classList.toggle('hover');">
						<div class="flipper">
							<div class="tech_image html_logo col-md-3 col-sm-12 front">
								<!-- front content -->
								<img class="svg_img svg" src="/compiled/img/php.svg">
							</div>
							<div class="tech_description back">
								<!-- back content -->
								  PHP - просто "слон". Инструмент для создания персональных веб-страниц, один из популярных языков программирования. Основные функции это автоматизация отправки HTTP-заголовков, работа с HTTP-авторизацией,
								обработка файлов загружаемых на сервер. Язык программирования PHP поддерживается почти на всех известных платформах.
								Иными словами PHP язык программирования созданный для общения с сервером.
							</div>
						</div>
					</div>
					<div class="tech col-md-3 col-sm-12 flip-container" ontouchstart="this.classList.toggle('hover');">
						<div class="flipper">
							<div class="tech_image html_logo col-md-3 col-sm-12 front">
								<!-- front content -->
								<img class="svg_img svg" src="/compiled/img/js.svg">
							</div>
							<div class="tech_description back">
								<!-- back content -->
							     JavaScript - "вездесущ и везде орущ". Мультипарадигменный язык программирования, который позволяет применять сложные вещи на
								web странице. С помощью него можно создать обновляемый контент, управляет мультимедиа, он может анимировать изображения, впрочем,
								делает всё, что угодно.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="subsection light_style">
		<div class="page_wrap">
			<div class="container">
				<div class="row">
					<h1>Фреймворки и CMS</h1>
					<div class="tech col-md-3 col-sm-12 flip-container" ontouchstart="this.classList.toggle('hover');">
						<div class="flipper">
							<div class="tech_image html_logo col-md-3 col-sm-12 front">
								<!-- front content -->
								<img class="svg_img svg" src="/compiled/img/jquery.svg">
							</div>
							<div class="tech_description back">
								<!-- back content -->
							     jQuery - это набор функций JavaScript, фокусирующийся на взаимодействии JavaScript и HTML. JQuery не отдельный язык
								программирования и работает в сочетании с JavaScript. JQuery - это кроссплатформенная JavaScript-библиотека, предназначенная для упрощения клиентского сценария HTML.
							</div>
						</div>
					</div>
					<div class="tech col-md-3 col-sm-12 flip-container" ontouchstart="this.classList.toggle('hover');">
						<div class="flipper">
							<div class="tech_image html_logo col-md-3 col-sm-12 front">
								<!-- front content -->
								<img class="svg_img svg" src="/compiled/img/angular.svg">
							</div>
							<div class="tech_description back">
								<!-- back content -->
							     Angular - "шоб ему пусто было", это открытая и свободная платформа для создания, веб-приложений, написанная на языке TypeScript.
								Angular был создан командой компании Google. То есть Angular является фреймворком от компании Google для создания веб-приложений.
							</div>
						</div>
					</div>
					<div class="tech col-md-3 col-sm-12 flip-container" ontouchstart="this.classList.toggle('hover');">
						<div class="flipper">
							<div class="tech_image html_logo col-md-3 col-sm-12 front">
								<!-- front content -->
								<img class="svg_img svg" src="/compiled/img/wp.svg">
							</div>
							<div class="tech_description back">
								<!-- back content -->
							     WordPress - "пхни куда хош", это веб-приложение, которое позволяет владельцам сайтов, редакторам, авторам управлять их сайтами и публиковать контент безо всяких знаний программирования.
								WordPress пользуеться PHP и MySQL, потому что они поддерживаются почти всеми хостинг-провайдерами. Очень часто, эту CMS
								используют для создание блога.
							</div>
						</div>
					</div>
					<div class="tech col-md-3 col-sm-12 flip-container" ontouchstart="this.classList.toggle('hover');">
						<div class="flipper">
							<div class="tech_image html_logo col-md-3 col-sm-12 front">
								<!-- front content -->
								<img class="svg_img svg" src="/compiled/img/opencart.svg">
							</div>
							<div class="tech_description back">
								<!-- back content -->
							     OpenCart - это быстрая и нетребовательная к ресурсам сервера CMS для магазина. Это — очень надёжное и простое CMS, для желающих создать свой
								онлайн магазин при минимальных затратах. OpenCart построен по принципу MVC, поддерживает мульти-шоп. Относительно
								бюджетная реализация любого функционала, установкой дополнительных модулей или силами программиста. OpenCart
								пропагандирует безопасность.
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<div class="subsection">
		<div class="page_wrap">
			<div class="container">
				<div class="row">
					<h1>Програмы учета и CRM-системы</h1>
					<div class="tech col-md-3 col-sm-12 flip-container" ontouchstart="this.classList.toggle('hover');">
						<div class="flipper">
							<div class="tech_image html_logo col-md-3 col-sm-12 front">
								<!-- front content -->
								<img class="svg_img svg" src="/compiled/img/ps.svg">
							</div>
							<div class="tech_description back">
								<!-- back content -->
								Простой софт - это программный код платформы, скомпилированный в исполняемый файл и обеспечивающий работу любой
								конфигурации базы данных. Программа оказывает услуги по автоматизации бизнеса любого вида и масштаба и реализует
								ИТ-проекты.
							</div>
						</div>
					</div>
					<div class="tech col-md-3 col-sm-12 flip-container" ontouchstart="this.classList.toggle('hover');">
						<div class="flipper">
							<div class="tech_image html_logo col-md-3 col-sm-12 front">
								<!-- front content -->
								<img class="svg_img svg" src="/compiled/img/1c.svg">
							</div>
							<div class="tech_description back">
								<!-- back content -->
								1С - единая платформа для автоматизации деятельности организации: бухгалтерского, кадрового, управленческого и финансового
								учета. Все конфигурации построены на общих принципах, их можно настраивать и изменять под специфику организации.
							</div>
						</div>
					</div>
					<div class="tech col-md-3 col-sm-12 flip-container" ontouchstart="this.classList.toggle('hover');">
						<div class="flipper">
							<div class="tech_image html_logo col-md-3 col-sm-12 front">
								<!-- front content -->
								<img class="svg_img svg" src="/compiled/img/Bitrix.svg">
							</div>
							<div class="tech_description back">
								<!-- back content -->
								Битрикс24 – это набор из пяти важных и полезных инструментов, которые помогают бизнесу работать: CRM, онлайн-офис,
								задачи и проекты, контакт-центр, сайты и магазины. С помощью него вы можете выставлять и выполнять задачи, создавать план
								рабочего времени и общаться с коллегами так же легко, как вы это делаете в социальной сети.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>