<section class="content page">
	<div class="subsection">
		<div class="container page_wrap">
			<div class="row">
				<h1>CRM системы</h1>
				<div class="col-md-12 col-sm-12 service_img">
					<!-- <img src="/compiled/img/gif/crm_systems.gif"> -->
				</div>
				<div class="col-md-12 col-sm-12 main_text">
					<p>Важно не наличие CRM системы в компании, а работа с ней, максимальное использование ее функционала. При выборе системы
					нужно понимать следующее. Для решения каких функциональных задач она нужна? Кто будет работать в CRM системе, только
					отдел продаж или другие отделы тоже? От этого зависит какая она и будет простая или многофункциональная, с базовым
					набором функций или с возможностью интеграции например с 1С.</p>
					<p>Хочется отметить, что не стоит переусердствовать с перечнем требований к CRM системе, поскольку ее перегруженность и
					громоздкий функционал может дать обратный эффект. Система должна быть проста, отвечать Вашим основным задачам. Простая
					модель CRM всегда может быть доработана с помощью модулей. Модернизация CRM под Вашу модель бизнеса - это довольно
					распространенная услуга.</p>
					<p>Что дает CRM система:</p>
					<ul>
						<li>увеличение продаж</li>
						<li>снижение расходов</li>
						<li>повышение контроля</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="subsection light_style">
		<div class="page_wrap">
			<h2>Услуги и цены</h2>
			<div class="tabel">
				<div class="thead">
					<div class="trow">
						<div class="cell">Наименование услуги</div>
						<div class="cell price">Ценна</div>
					</div>
				</div>
				<div class="tbody">
					<div class="trow">
						<div class="cell">Подбор CRM системы учета под ваши потребности</div>
						<div class="cell price">100$</div>
					</div>
					<div class="trow">
						<div class="cell">Настройка</div>
						<div class="cell price">от 30 $</div>
					</div>
					<div class="trow">
						<div class="cell">Перенос данных</div>
						<div class="cell price">от 30 $</div>
					</div>
					<div class="trow">
						<div class="cell">Настройка синхронизации</div>
						<div class="cell price">договорная</div>
					</div>
				</div>
			</div>
			<div class="col-md-12 col-sm-12">
				<a routerLink="/contacts" routerLinkActive="active" class="bunner_btn accent_button">Хочу работать с
					Вами</a>
			</div>
		</div>
	</div>
</section>