<section class="content page">
	<div class="subsection">
		<div class="container page_wrap">
			<div class="row">
				<h1>Обслужевание баз даных</h1>
				<div class="col-md-12 col-sm-12 service_img">
					<img src="/compiled/img/gif/database.gif">
				</div>
				<div class="col-md-12 col-sm-12 main_text">
					<p>Любую информацию которая представляет ценность для Вашего бизнеса можно назвать базой данных. Так вот, уже из этого мы
					понимаем, что базу данных нужно ценить, любить и заботиться о ней. Это может быть база клиентов, информация о платежах и
					проводках или просто номера телефонов сотрудников, неважно. Главное, для того чтобы использовать необходимую вам
					информацию в дальнейшем в работе, вы должны с легкостью ее находить, накапливать и конечно не переживать за ее
					безопасность.</p>
					<p>База данных это фактически наработанная Вами информация. Которую можно переносить с программы в программу, апгрейдить,
					модернизировать, архивировать и т. д. Очень важным моментом является резервное копирование БД. Наличие архивов,
					позволяет восстановить любую информацию в определенный момент времени.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="subsection light_style">
		<div class="page_wrap">
			<h2>Услуги и цены</h2>
			<div class="tabel">
				<div class="thead">
					<div class="trow">
						<div class="cell">Наименование услуги</div>
						<div class="cell price">Цена</div>
					</div>
				</div>
				<div class="tbody">
					<div class="trow">
						<div class="cell">Создание backup</div>
						<div class="cell price">15 $</div>
					</div>
					<div class="trow">
						<div class="cell">Восстановление backup</div>
						<div class="cell price">15 $</div>
					</div>
					<div class="trow">
						<div class="cell">Автоматизация резервного копирования</div>
						<div class="cell price">от 30 $</div>
					</div>
					<div class="trow">
						<div class="cell">Манипуляции с данными</div>
						<div class="cell price">договорная</div>
					</div>
					<div class="trow">
						<div class="cell">Перенос базы данных</div>
						<div class="cell price">от 50 $</div>
					</div>
					<div class="trow">
						<div class="cell">Исправление ошибок</div>
						<div class="cell price">от 50 $</div>
					</div>
				</div>
			</div>
			<div class="col-md-12 col-sm-12">
				<a routerLink="/contacts" routerLinkActive="active" class="bunner_btn accent_button">Хочу работать с
					Вами</a>
			</div>
		</div>
	</div>
</section>