<div id="owl-banner" class="owl-carousel owl-theme owl_banner">

	<div class="banner_item">
		<div class="banner_text">
			<h2>Конфиденциальность</h2>
			<p>Мы гарантируем конфиденциальность информации, полученной от Вас.</p>
			<a routerLink="/contacts" routerLinkActive="active" class="bunner_btn accent_button">Хочу работать с Вами</a>
		</div>
	</div>
	<div class="banner_item">
		<div class="banner_text">
			<h2>Индивидуальный подход</h2>
			<p>Определяем и анализируем цели. Описываем весь функционал и методы его реализации.</p>
			<a routerLink="/contacts" routerLinkActive="active" class="bunner_btn accent_button">Хочу работать с Вами</a>
		</div>
	</div>
	<div class="banner_item">
		<div class="banner_text">
			<h2>Гарантия качества</h2>
			<p>Мы предоставляем обязательную гарантию на наши услуги. </p>
			<a routerLink="/contacts" routerLinkActive="active" class="bunner_btn accent_button">Хочу работать с Вами</a>
		</div>
	</div>
		<div class="banner_item">
		<div class="banner_text">
			<h2>В условиях пандемии COVID-19</h2>
			<p>Быстро настраиваем удаленную работу офисов. Мы стараемся максимально работать удалено.</p>
			<a routerLink="/contacts" routerLinkActive="active" class="bunner_btn accent_button">Хочу работать с Вами</a>
		</div>
	</div>
</div>
