<section class="content page">
	<div class="subsection">
		<div class="container page_wrap">
			<div class="row">
				<h1>Обновление программного обеспечения</h1>
				<div class="col-md-12 col-sm-12 service_img">
					<img src="/compiled/img/gif/update.gif">
				</div>
				<div class="col-md-12 col-sm-12 main_text">
					<p>Авто обновление - казалось бы удобная вещь, но не всегда она приносит пользу. Если ваше программное обеспечение
					интегрировано индивидуально под Вашу систему, то установка автоматического обновления может бездумно заблокировать
					некоторые функции или вовсе ограничить возможности. Это происходит потому, что разработчикам трудно учесть все Ваши
					переделки, они зачастую ориентируются на общую стандартную систему.</p>
					<p>Но, все же, без обновлений не как. Обновления содержат исправления свежих уязвимостей, новые функции. В каждой свежей
					версии обычно добавляется что-то для удобства пользователей. Наиболее правильным решением будет обновляться, но контролировать этот процесс или доверить его специалисту, который даже в случае “что-то
					пошло не так” легко сможет все исправить.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="subsection light_style">
		<div class="page_wrap">
			<h2>Услуги и цены</h2>
			<div class="tabel">
				<div class="thead">
					<div class="trow">
						<div class="cell">Наименование услуги</div>
						<div class="cell price">Цена</div>
					</div>
				</div>
				<div class="tbody">
					<div class="trow">
						<div class="cell">Обновление Windows</div>
						<div class="cell price">10 $</div>
					</div>
					<div class="trow">
						<div class="cell">Обновление программ Windows</div>
						<div class="cell price">5 $</div>
					</div>
					<div class="trow">
						<div class="cell">Перенос данных в новую версию программы</div>
						<div class="cell price">от 30 $</div>
					</div>
				</div>
			</div>
			<div class="col-md-12 col-sm-12">
				<a routerLink="/contacts" routerLinkActive="active" class="bunner_btn accent_button">Хочу работать с
					Вами</a>
			</div>
		</div>
	</div>
</section>