<section class="content page">
	<div class="subsection">
		<div class="container page_wrap">
			<div class="row">
				<h1>Pентабельность</h1>
				<div class="col-md-12 col-sm-12 service_img">
					<img src="/compiled/img/gif/profitability.gif">
				</div>
				<div class="col-md-12 col-sm-12 main_text">
					<p>Среди множества методов и способов увеличения рентабельности необходимо определить те, которые
						наиболее эффективны для
						Вашей модели. В первую очередь, все методы делятся на две категории:</p>
					<ul>
						<li>Увеличением обемов продаж (развитие, открытие новых каналов) это в <a
								routerLink="website">маркетинг</a></li>
						<li>Оптимизацией затрат (оптимизация процессов, внедрение новых технологий)</li>
					</ul>
					<p>Очень часто в погоне за увеличением показателей развития (объем продаж…) забывают о важности анализа и
						работы со вторым
						показателем -оптимизации.</p>
					<p>Самая большая опасность для каждого предпринимателя – бездействие! Новое всегда пугает, а изменения
						выводят нас из зоны комфорта, но с экспериментами к нам приходят новые идеи и опыт, а это бесценно в бизнесе.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="subsection light_style">
		<div class="page_wrap">
			<h2>Услуги и цены</h2>
			<div class="tabel">
				<div class="thead">
					<div class="trow">
						<div class="cell">Наименование услуги</div>
						<div class="cell price">Цена</div>
					</div>
				</div>
				<div class="tbody">
					<div class="trow">
						<div class="cell">Определение целей</div>
						<div class="cell price">бесплатно</div>
					</div>
					<div class="trow">
						<div class="cell">Выявление потенциала увеличения рентабельности</div>
						<div class="cell price">от 100 $</div>
					</div>
					<div class="trow">
						<div class="cell">Углубленный анализ процессов</div>
						<div class="cell price">от 250 $</div>
					</div>
					<div class="trow">
						<div class="cell">Составление рекомендаций для оптимизации</div>
						<div class="cell price">от 250 $</div>
					</div>
					<div class="trow">
						<div class="cell">Оптимизация процесса</div>
						<div class="cell price">от 100 $</div>
					</div>
					<div class="trow">
						<div class="cell">Описание бизнес процесса</div>
						<div class="cell price">от 50 $</div>
					</div>
				</div>
			</div>
			<div class="col-md-12 col-sm-12">
				<a routerLink="/contacts" routerLinkActive="active" class="bunner_btn accent_button">Хочу работать с
					Вами</a>
			</div>
		</div>
	</div>
</section>
<owl-reviews ></owl-reviews>
<!-- <owl-reviews template="owl_reviews"></owl-reviews> -->