<section class="content page">
	<div class="subsection">
		<div class="container page_wrap">
			<div class="row">
				<h1>Простой софт</h1>
				<div class="col-md-12 col-sm-12 service_img">
					<img src="/compiled/img/gif/simple_software.gif">
				</div>
				<div class="col-md-12 col-sm-12 main_text">
					<p>Управление и хранение информации — одна из центральных задач которые стоят при выборе программы учета. Вы должны
					обращать внимание не только на реализованную в ней узкоспециализированную функциональность, но также, и на возможности
					самой платформы для создания своих собственных, произвольных конфигураций и программ на их основе.</p>
					<p>Одновременные простота и удобство “Простой софт” не нуждаются в рекламе. Все отчеты и фильтры для отображения данных
					построены на обычных SQL-запросах, а, значит, доступна возможность неограниченно расширять функциональность программы и
					её отчетов за счет собственных SQL-запросов к БД, что позволяет вытягивать практически любые данные согласно вашим
					критериям, а также знаниям и потребностям. То же самое относится к дополнительным таблицам и связям Все это можно
					создавать и проектировать, что ещё больше расширяет потенциальные возможности по доработке программы.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="subsection light_style">
		<div class="page_wrap">
			<h2>Услуги и цены</h2>
			<div class="tabel">
				<div class="thead">
					<div class="trow">
						<div class="cell">Наименование услуги</div>
						<div class="cell price">Цена</div>
					</div>
				</div>
				<div class="tbody">
					<div class="trow">
						<div class="cell">Доработка функционала</div>
						<div class="cell price">от 30 $</div>
					</div>
					<div class="trow">
						<div class="cell">Новый отчет</div>
						<div class="cell price">от 10 $</div>
					</div>
					<div class="trow">
						<div class="cell">Настройка sms рассылки</div>
						<div class="cell price">5 $</div>
					</div>
					<div class="trow">
						<div class="cell">Настройка email рассылки</div>
						<div class="cell price">5 $</div>
					</div>
				</div>
			</div>
			<div class="col-md-12 col-sm-12">
				<a routerLink="/contacts" routerLinkActive="active" class="bunner_btn accent_button">Хочу работать с
					Вами</a>
			</div>
		</div>
	</div>
</section>